{#
   Copyright 2015-2018 Mathieu Piot

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
#}

{% extends 'base.html.twig' %}

{% block title %}
    {{ locus.name }} - {{ locus.chromosome.strain.species.scientificname }} ({{ locus.chromosome.strain.name }}) - {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('strain_index') }}">Species & strains list</a></li>
    <li class="breadcrumb-item"><a href="{{ path('species_view', { 'species_slug': locus.chromosome.strain.species.slug }) }}"><i>{{ locus.chromosome.strain.species.scientificname }}</i></a></li>
    <li class="breadcrumb-item"><a href="{{ path('strain_view', { 'species_slug': locus.chromosome.strain.species.slug, 'strain_slug': locus.chromosome.strain.slug }) }}">{{ locus.chromosome.strain.name }}</a></li>
    <li class="breadcrumb-item"><a href="{{ path('chromosome_view', { 'species_slug': locus.chromosome.strain.species.slug, 'strain_slug': locus.chromosome.strain.slug, 'chromosome_slug': locus.chromosome.slug }) }}">{{ locus.chromosome.name }}</a></li>
    <li class="breadcrumb-item active">{{ locus.name }}</li>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-9">
            <h1>{{ locus.name }} - <i>{{ locus.chromosome.strain.species.scientificName }}</i> ({{ locus.chromosome.strain.name }})</h1>
        </div>

        <div class="col-3 text-right d-print-none">
            <a class="btn btn-secondary btn-sm cart-add-btn" href="{{ path('cart_add', { 'id': locus.id }) }}" role="button">
                <span class="fas fa-shopping-cart" aria-hidden="true"></span> Add to cart
            </a>

            <button class="btn btn-secondary btn-sm" onClick="window.print()">
                <span class="fas fa-print" aria-hidden="true"></span> Print
            </button>
        </div>
    </div>

    {% if locus.neighbours is not empty %}
        <div class="text-center" style="overflow-x: auto">
            {{ neighborhood|drawNeighborhood }}
        </div>
    {% endif %}

    <h2>Description</h2>
    <p class="text-justify">
        {{ locus.note }}
    </p>

    <div class="card mb-3">
        <div class="card-header">
            Annotation
        </div>
        <table class="table table-responsive-md table-sm">
            {% for key, annotation in locus.annotation %}
                <tr>
                    <td><b>{{ key }}</b></td>
                    <td>{{ annotation[0] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            Summary
        </div>

        <table class="table table-responsive-md table-sm">
            <tr>
                <td><b>Species</b></td>
                <td>
                    <a href="{{ path('species_view', { 'species_slug': locus.chromosome.strain.species.slug }) }}">
                        <i>{{ locus.chromosome.strain.species.scientificName }}</i>
                    </a>
                </td>
                <td><b>Positions</b></td>
                <td>{{ locus.start }}..{{ locus.end }}</td>
            </tr>
            <tr>
                <td><b>Strain</b></td>
                <td>
                    <a href="{{ path('strain_view', {
                        'species_slug': locus.chromosome.strain.species.slug,
                        'strain_slug': locus.chromosome.strain.slug }) }}">
                        {{ locus.chromosome.strain.name }}
                    </a>
                </td>
                <td><b>Strand</b></td>
                <td>{{ 1 == locus.strand ? 'Sense' : 'Antisense' }}</td>
            </tr>
            <tr>
                <td><b>Chromosome</b></td>
                <td>
                    <a href="{{ path('chromosome_view', {
                        'species_slug': locus.chromosome.strain.species.slug,
                        'strain_slug': locus.chromosome.strain.slug,
                        'chromosome_slug': locus.chromosome.slug }) }}">
                        {{ locus.chromosome.name }}
                    </a>
                </td>
                <td><b>Total length</b></td>
                <td>{{ locus.end - locus.start + 1 }} (nuc.)</td>
            </tr>
            <tr>
                <td><b>Product number</b></td>
                <td>{{ locus.countProductFeatures }}</td>
            </tr>
        </table>
    </div>

    <hr>

    <h2 class="mb-3">Sequence(s)</h2>

    {% for name, sequence in sequences %}
        <div class="locus-feature" id="locus-feature-{{ loop.index }}" data-feature="{{ name }}">
            <div class="row">
                <div class="col-lg-9 fasta fasta-nuc">
                    {{ sequence|raw|nl2br }}
                </div>

                <hr class="d-md-none">

                <div class="col-lg-3 d-print-none">
                    Legend:
                    <ul class="fasta-legend">
                        <li class="stream"><span class="fas fa-square"></span> Upstream/Downstream</li>
                        <li class="feature"><span class="fas fa-square"></span> UTR</li>
                        <li class="product"><span class="fas fa-square"></span> CDS (coding exon)</li>
                        <li class="intron"><span class="fas fa-square"></span> Intron</li>
                        <li class="repeats"><span class="fas fa-square"></span> Repeats</li>
                    </ul>

                    <hr>

                    {{ form_start(forms[name]) }}
                        {{ form_errors(forms[name]) }}
                        {{ form_rest(forms[name]) }}

                        <button type="reset" class="btn btn-secondary" value="Reset">Reset</button>
                        <button type="submit" class="btn btn-primary">Valid</button>
                    {{ form_end(forms[name]) }}
                </div>
            </div>
        </div>
    {% endfor %}

    <hr>

    <h2 class="mb-3">Product(s)</h2>
    {% for feature in locus.features %}
        {% for product in feature.productsFeatures %}
            <h3>{{ product.name }}</h3>
            <p>
                <b>Product type:</b> protein<br>
                <b>Protein length:</b> {{ product.translation|length }} aa.<br>
                <b>Product:</b> {{ product.product is not empty ? product.product|join(', '): product.note }}<br>
                <b>Annotation:</b>
            </p>
            <ul>
                {% if product.annotation['gene'] is defined %}
                    <li>Gene: {{ product.annotation['gene']|join(', ') }}</li>
                {% endif %}
                {% if product.annotation['EC_number'] is defined %}
                    <li>EC number: {{ product.annotation['EC_number']|join(', ') }}</li>
                {% endif %}
            </ul>
            <div class="fasta">
                <span class="header">>{{ product.name }}</span>
                {{ product.translation|wordwrap(60, "\n")|nl2br }}
            </div>
        {% endfor %}
    {% endfor %}

    <hr>

    <h2>References</h2>
    <div class="row">
        {% if is_granted('ROLE_REFERENCER') %}
            <div class="col-12 text-right">

                <a class="btn btn-primary btn-sm" href="{{ path('reference_add_locus', {
                    'name': locus.name,
                }) }}">
                    <span class="fas fa-plus"></span> Add a reference
                </a>
            </div>
        {% endif %}

        <div class="col-12">
            {% if locus.references is not empty %}
                <ul>
                    {% for reference in locus.references %}
                        <li>
                            <a href="{{ reference.url }}" rel="nofollow">
                                {{ reference.authors.0.family }} {{ reference.authors.0.given|slice(0,1) }}
                                {% if reference.authors|length == 2 %}
                                    [and {{ reference.authors.1.family }} {{ reference.authors.1.given|slice(0,1) }}]
                                {% else %}
                                    et al.
                                {% endif %}
                                <i>{{ reference.container }}</i> ({{ reference.issued }})
                            </a>
                            {% if is_granted('ROLE_REFERENCER') %}
                                <a class="btn btn-danger btn-sm" href="{{ path('reference_delete_locus', {'reference_id': reference.id, 'locus_id': locus.id, 'token': csrf_token('reference_delete')}) }}" data-confirmation="1">
                                    <span class="fas fa-trash-alt"></span>
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                There is not reference.
            {% endif %}
        </div>
        {% include '_delete_confirmation.html.twig' %}
    </div>
{% endblock %}
