{#
   Copyright 2015-2018 Mathieu Piot

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
#}

{{ form_row(form.type) }}

<div id="cart-setup">
    <div class="form-group">
        {{ form_label(form.feature) }} <span data-toggle="popover" data-trigger="hover" data-html="true" title="Feature level disclaimer" data-content="<b class='text-danger'>Be careful</b> when using the parameter &quot;Feature level&quot;.<br> If the locus does <b>not have</b> a &quot;Transcript&quot; or &quot;Product&quot;, the output will be <b>empty</b>. ​"><span class="fas fa-info-circle text-info" ></span></span>
        {{ form_widget(form.feature) }}
    </div>

    {{ form_row(form.intronSplicing) }}

    {{ form_row(form.upstream) }}

    {{ form_row(form.downstream) }}
</div>
