{{ form_row(form.type) }}

<div id="cart-setup">
    {{ form_row(form.feature) }}
    {{ form_row(form.intronSplicing) }}
    {{ form_row(form.upstream) }}
    {{ form_row(form.downstream) }}
</div>

{{ form_rest(form) }}
