{% extends 'base.html.twig' %}

{% block title %}
    Cart
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Cart</li>
{% endblock %}

{% block body %}
    <div class="pull-right">
        <a href="{{ path('cart_empty') }}" class="btn btn-xs btn-danger"><span class="fa fa-trash" aria-hidden="true"></span> Empty cart</a>
    </div>

    <h2>Content</h2>

    <table class="table table-striped">
        <tr>
            <th>Locus</th>
            <th>Species</th>
            <th>Strain</th>
            <th>Chromosome/Scaffold</th>
            <th>Note</th>
            <th></th>
        </tr>
        {% for locus in cartElements if cartElements is not empty %}
            <tr>
                <td><a href="{{ path('locus_view', { 'species_slug': locus.chromosome.strain.species.slug, 'strain_slug': locus.chromosome.strain.slug, 'chromosome_slug': locus.chromosome.slug, 'locus_name': locus.name }) }}">{{ locus.name }}</a></td>
                <td>{{ locus.chromosome.strain.species.scientificName }}</td>
                <td>{{ locus.chromosome.strain.name }}</td>
                <td>{{ locus.chromosome.name }}</td>
                <td>{{ locus.note|truncate }}</td>
                <td><a href="{{ path('cart_remove', {'id': locus.id}) }}" class="btn btn-default btn-xs cart-remove-btn"><span class="fa fa-times" aria-hidden="true"></span></a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6" class="text-center">You cart is empty.</td>
            </tr>
        {% endfor %}
    </table>

    <h2>Setup download</h2>

    {{ form_start(form) }}
        {{ form_row(form.type) }}

        <fieldset>
            <legend>Configure</legend>
            {{ form_row(form.feature) }}
            {{ form_row(form.intronSplicing) }}
            {{ form_row(form.upstream) }}
            {{ form_row(form.downstream) }}
        </fieldset>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-info"><span class="fa fa-download" aria-hidden="true"></span> Download</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            showHideCartField();
        });
    </script>
{% endblock %}
