{% extends 'base.html.twig' %}

{% block title %}
    Cart
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Cart</li>
{% endblock %}

{% block body %}
    <h1>Cart</h1>

    <div class="pull-right">
        <a href="{{ path('cart_empty') }}" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash"></span> Empty cart</a>
    </div>

    <table class="table table-striped">
        <tr>
            <th>Entry</th>
            <th>Species</th>
            <th>Strain</th>
            <th>Chromosome/Scaffold</th>
            <th>Remove</th>
        </tr>
        {% for locus in cartElements if cartElements is not empty %}
            <tr>
                <td><a href="{{ path('locus_view', { 'species_slug': locus.chromosome.strain.species.slug, 'strain_slug': locus.chromosome.strain.slug, 'chromosome_slug': locus.chromosome.slug, 'locus_name': locus.name }) }}">{{ locus.name }}</a></td>
                <td>{{ locus.chromosome.strain.species.scientificName }}</td>
                <td>{{ locus.chromosome.strain.name }}</td>
                <td>{{ locus.chromosome.name }}</td>
                <td><a href="{{ path('cart_remove', {'id': locus.id}) }}" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash"></span> Remove</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" class="text-center">The cart is empty.</td>
            </tr>
        {% endfor %}
    </table>

    {{ form_start(form) }}
        <fieldset>
            <legend>Sequence type</legend>
            {{ form_row(form.type) }}
        </fieldset>

        <fieldset>
            <legend>Setup</legend>
            {{ form_row(form.feature) }}
            {{ form_row(form.intronSplicing) }}
            {{ form_row(form.upstream) }}
            {{ form_row(form.downstream) }}
        </fieldset>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-download"></span> Download</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            showHideCartField();
        });
    </script>
{% endblock %}
