{#
   Copyright 2015-2018 Mathieu Piot

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
#}

{% extends 'base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Register</li>
{% endblock %}


{% block body %}
    <h1>Join GRYC</h1>
    {{ form_start(form, { 'attr': { 'class': 'recaptcha-form' } }) }}

        <fieldset>
            <legend>Account informations</legend>
                {{ form_row(form.email) }}
                {{ form_row(form.plainPassword.first) }}
                {{ form_row(form.plainPassword.second) }}
        </fieldset>

        <fieldset>
            <legend>Personal information</legend>
                {{ form_row(form.firstName) }}
                {{ form_row(form.lastName) }}
                {{ form_row(form.company) }}
        </fieldset>

        {{ form_rest(form) }}

        <button type="submit" id="registration_submit" class="btn btn-primary">Register</button>
    {{ form_end(form) }}

    <div class="row">
        You already have an account ? <a href="{{ path('login') }}">Login page</a>.
    </div>
{% endblock %}
