<div id="user-list">
    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Email</th>
                <th>Name</th>
                <th>Roles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if usersList is not empty %}
                {% for user in usersList %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ user.email }}</td>
                        <td>{{ user.fullName }}</td>
                        <td>{{ user.roles|join(',') }}</td>
                        <td>
                            {% if app.user != user %}
                                <a class="btn btn-outline-secondary" href="{{ path('homepage', { '_switch_user': user.username }) }}" role="button">Impersonate</a>
                            {% endif %}
                            <a class="btn btn-outline-secondary" href="{{ path('user_roles', { 'id': user.id }) }}" role="button">Edit roles</a>
                            <a class="btn btn-outline-secondary" href="{{ path('user_strains', { 'id': user.id }) }}" role="button">Strain access rights</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <td class="text-center" colspan="5">There is no results.</td>
            {% endif %}
        </tbody>
    </table>

    <ul class="pagination">
        {% set nbExtremPages, nbBorderPages = 3, 2 %}

        {% if nbPages > 1 %}
            <li{% if page == 1 %} class="disabled"{% endif %}>
                <a href="{{ path('user_index', {'q': query, 'p': page - 1}) }}">&laquo;</a>
            </li>

            {% for p in range(1, nbPages) %}
                {% if
                ( p <= nbExtremPages ) or
                ( p < page and (p >= (page - nbBorderPages)) ) or
                ( p == page ) or
                ( p > page and (p <= (page + nbBorderPages)) ) or
                ( p > (nbPages - nbExtremPages) )
                %}
                    <li{% if p == page %} class="active"{% endif %}>
                        <a href="{{ path('user_index', {'q': query, 'p': p}) }}">{{ p }}</a>
                    </li>
                {% elseif
                ((p == (page - nbBorderPages - 1)) or (p == (page + nbBorderPages + 1 )))
                %}
                    <li>
                        <span>...</span>
                    </li>
                {% endif %}
            {% endfor %}

            <li{% if page == nbPages %} class="disabled"{% endif %}>
                <a href="{{ path('user_index', {'q': query, 'p': page + 1}) }}" >&raquo;</a>
            </li>
        {% endif %}
    </ul>
</div>
