{% extends 'base.html.twig' %}

{% block metaTags %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('admin_index') }}">Administration</a></li>
    <li class="breadcrumb-item active">User list</li>
{% endblock %}

{% block body %}
    <form class="form-inline mb-3" id="user-search-form" method="get"
          data-user-index="{{ url('user_index', { q: '__QUERY__', p: 1 }) }}"
          data-user-ajax="{{ url('user_index_ajax', { q: '__QUERY__', p: 1 }) }}"
    >
        <label class="sr-only" for="user-search-field">Name</label>
        <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="user-search-field" name="q" placeholder="Search for..." autocomplete="off" value="{{ query }}">

        <button id="type-search-button" class="btn btn-secondary" type="submit">
            <span class="fas fa-search" aria-hidden="true"></span> Search
        </button>
    </form>

    {{ list.content|raw }}
{% endblock %}
