{# app/Ressources/views/admin/user/edit-rights.html.twig #}
{% extends 'base.html.twig' %}

{% block metaTags %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block title %}
    Edit {{ user.username }} - {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('admin_index') }}">Administration</a></li>
    <li class="breadcrumb-item"><a href="{{ path('user_index') }}">User list</a></li>
    <li class="breadcrumb-item active">{{ user.username }} rights</li>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header"><h2>{{ user.username }} <small>{{ user.firstName }} {{ user.lastName }}</small></h2></div>
        <div class="card-body">

            {{ form_start(form) }}
                {{ form_row(form.strainsFiltered.filter) }}
                {{ form_row(form.strainsFiltered.strains) }}

                <button type="submit" class="btn btn-primary">Save changes</button>

                {{ form_rest(form) }}
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
