{% extends 'base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Register</li>
{% endblock %}


{% block body %}
    <h1>Join GRYC</h1>
    {{ form_start(form, { 'attr': { 'class': 'recaptcha-form' } }) }}

        <fieldset>
            <legend>Account informations</legend>
                {{ form_row(form.email) }}
                {{ form_row(form.plainPassword.first) }}
                {{ form_row(form.plainPassword.second) }}
        </fieldset>

        <fieldset>
            <legend>Personal information</legend>
                {{ form_row(form.firstName) }}
                {{ form_row(form.lastName) }}
                {{ form_row(form.company) }}
        </fieldset>

        {{ form_row(form.submit) }}
        {{ form_rest(form) }}
    {{ form_end(form) }}

    <div class="row">
        You already have an account ? <a href="{{ path('login') }}">Login page</a>.
    </div>
{% endblock %}
