{% extends "::base.html.twig" %}

{% block title %}
    Contact us - {{ parent() }}
{% endblock %}

{% block metaTags %}
    <meta name="robots" content="noindex">
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Contact us</li>
{% endblock %}

{% block body %}
<h2>Contact us</h2>
    {{ form_start(form, { 'attr': { 'class': 'recaptcha-form' } }) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.email) }}
        {{ form_row(form.category) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.message) }}
        {{ form_row(form.recaptcha) }}

        <button type="submit" class="btn btn-primary" id="contact_us_submit">
            <span class="fa fa-paper-plane" aria-hidden="true"></span> Send
        </button>
        {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}
