{% extends 'base.html.twig' %}

{% block title %}Delete a message - {{ parent() }}{% endblock %}

{% block breadcrumb %}{{ parent() }} <li><a href="{{ path('contact_us_admin_index') }}">Messages list</a></li> <li class="active">Delete message: {{ message.subject }}</li>{% endblock %}

{% block body %}
    <h2>Delete a message</h2>

    <div class="alert alert-danger" role="alert">
        <b>CAUTION !</b> You are about to delete a message, to have answered it. This action is irreversible.
    </div>
    <p>Are you sure you want delete this message ?</p>
    {# On crée le formulaire mannuellement #}
    <form action="{{ path('contact_us_delete', { 'id':message.id }) }}" method="post">
        {# Générer le champ CSRF #}
        {{ form_rest(form) }}

        {# On propose de continuer ou de revenir en arrière #}
        <a class="btn btn-success" href="{{ path('contact_us_admin_index') }}">
            <span class="fa fa-chevron-left"  aria-hidden="true"></span>
            <b>Cancel !</b> Come back to the messages list
        </a>
        <input class="btn btn-danger" type="submit" value="Delete"/>
    </form>
{% endblock %}
