{# app/Ressources/views/contactus/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Liste des messages - {{ parent() }}{% endblock %}

{% block breadcrumb %}{{ parent() }} <li class="active">Messages list</li>{% endblock %}

{% block body %}
    <h2>Messages list</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Subject</th>
                    <th>Message</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {# On vérifie si on a des messages à afficher #}
                {% if listMessages is not empty %}
                    {# On fait une boucle sur l'ensemble des messages, et on les affichent ligne par ligne #}
                    {% for message in listMessages %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ message.subject }}</td>
                            <td>{{ message.message | truncate(50, true, "...") }}</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="edit-delete-teacher">
                                    <a class="btn btn-info btn-xs" href="{{ path('contact_us_reply', { 'id': message.id}) }}"><span class="glyphicon glyphicon-share-alt"></span> Reply</a>
                                    <a class="btn btn-danger btn-xs"href="{{ path('contact_us_delete', { 'id': message.id }) }}"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {# Si il n'y a pas de messages à afficher, on indique qu'il n'y a pas de messages #}
                {% else %}
                    <td colspan="4" class='text-center'>There is no message.</td>
                {% endif %}
            </tbody>
        </table>
    </div>

    {# Si le nombre de pages est suppérieur à 1, on affiche la pagination #}
    {% if nbPages > 1 %}
        <div class="center">
            <ul class="pagination">
                {% for p in range(1, nbPages) %}
                    <li {% if p == page %} class="active" {% endif %}>
                        <a href="{{ path('contact_us_homepage', { 'page': p }) }}">{{ p }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}