{# app/Ressources/views/contactus/reply.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Reply to a message - {{ parent() }}{% endblock %}

{% block breadcrumb %}{{ parent() }} <li><a href="{{ path('contact_us_admin_index') }}">Messages list</a></li> <li class="active">Reply to the message: {{ message.subject }}</li>{% endblock %}

{% block body %}
    <h2>Reply to a message</h2>

    <div class="well">
        <h3>Question:</h3>
        <p><u>Category:</u> {{ message.category }}</p>
        <p><u>Subject:</u> {{ message.subject }}</p>
        <p><u>Message:</u><br>
        {{ message.message|nl2br }}</p>
    </div>


    {{ form_start(form) }}
        {{ form_widget(form) }}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default"><span class="fa fa-paper-plane" aria-hidden="true"></span> Reply</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
