{#
   Copyright 2015-2018 Mathieu Piot

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
#}

{% extends 'base.html.twig' %}

{% block title %}
    Genome Resources for Yeast Chromosomes
{% endblock %}

{% block metaTags %}
    {{ parent() }}
    <meta name="description" content="GRYC is a database dedicated to yeast genomics. It is part of iGenolevures resources." />
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active"><span class="fas fa-home" aria-hidden="true"></span>&nbsp; Home</li>
{% endblock %}

{% block body %}
<h1>Genome Resources for Yeast Chromosomes</h1>
<p>
    <strong>GRYC</strong> provides annotated sequence data for the genomes of basidio and ascomycete yeasts.
    A particular attempt is made to propose high quality genome annotations (possibly with manual curations).
</p>
<p>
    The resources currently provided include genetic element pages, data sets for downloading, quick and advanced searches,
    facilities for BLAST comparisons (powered by BLAST+ suite) and a genome browser (powered by JBrowse from GMOD).
</p>

<h3>iGenolevures</h3>
    <p>GRYC will be part of the <a href="http://www.igenolevures.org" rel="nofollow">iGenolevures</a> web resources.</p>

<h2>Available species</h2>
    <p>The current release of GRYC contains the following species/strains of yeast:</p>
    <ul>
        {% if speciesList is not empty %}
            {% for species in speciesList %}
                {% for strain in species.strains %}
                        <li {% if false == strain.public %}class="private-strain"{% endif %}>
                            <a href="{{ path('strain_view', { 'species_slug': species.slug, 'strain_slug': strain.slug }) }}">{{ species.scientificname }} {{ strain.name }}</a>
                            {{ (strain.isTypeStrain) ? ' <abbr title="Type strain"><small style="color: #527EB1;">T</small></abbr>' }}
                        </li>
                {% endfor %}
            {% endfor %}
        {% else %}
            <li>There is no available strains.</li>
        {% endif %}
    </ul>

{% if app.user %}
    <p><span class="private-strain"></span>: Private strains</p>
{% endif %}

{% endblock %}
