{% extends 'base.html.twig' %}

{% block title %}
    SEO species
{% endblock %}

{% block metaTags %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('admin_index') }}">Administration</a></li>
    <li class="breadcrumb-item"><a href="{{ path('seo_homepage') }}">SEO management</a></li>
    <li class="breadcrumb-item active">SEO for {{ species.scientificname }}</li>
{% endblock %}

{% block body %}
    <h1>Search Engine Optimization management</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Save changes</button>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(function () {
            collectionType($('div#species_seo_seos'), 'Add a SEO', null, true);
        });
    </script>
{% endblock %}
