<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <title>{% block title %}GRYC{% endblock %}</title>
        {% block metaTags %}
            <meta name="robots" content="index, follow">
        {% endblock %}

        {% block stylesheets %}
            <!-- Fonts -->
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cousine">
            <!-- CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ preload(asset('css/app.min.css', 'css')) }}" />
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ preload(asset('favicon.ico', 'image')) }}" />

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body data-spy="scroll" data-target=".scrollspy">
        <div class="wrapper">
            <noscript>
                <div id="js-disclaimer" class="alert alert-danger text-center">
                    Please use <a rel="nofollow" href="http://browsehappy.com/">a modern browser</a> with JavaScript activated to navigate through this website
                </div>
            </noscript>

            <header class="hidden-xs">
                <div id="logo">
                    <a href="{{ path('homepage') }}"><img src="{{ preload(asset('images/logo.svg')) }}" alt="GRYC" height="130px"/></a>
                </div>
                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                    <div style="position: absolute; right: 10px; top: 10px;">
                        <a href="{{ path('user_index', {'_switch_user': '_exit'}) }}" style="color: #FFF;"><span class="fa fa-sign-out" aria-hidden="true"></span>  Exit impersonation</a>
                    </div>
                {% endif %}
            </header>

            <!-- Navbar -->
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a class="navbar-brand hidden-lg hidden-md hidden-sm" href="{{ path('homepage') }}">
                            <img alt="GRYC" src="{{ preload(asset('images/logo.svg')) }}" height="40 px" />
                        </a>
                    </div>

                    <div id="navbar" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-left">
                            <li><a href="{{ path('homepage') }}"><span class="fa fa-home" aria-hidden="true"></span>&nbsp; Home</a></li>
                            <li><a href="{{ path('advanced-search') }}"><span class="fa fa-search" aria-hidden="true"></span> Search</a></li>
                            <li><a href="{{ path('blast_index') }}"><span class="fa fa-cog" aria-hidden="true"></span> BLAST</a></li>
                            <li><a href="{{ path('strain_index') }}"><span class="fa fa-list" aria-hidden="true"></span> Strains</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-cog" aria-hidden="true"></span>  Tools</a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path("blast_index") }}">Blast</a></li>
                                    <li><a href="{{ path("multiple_alignment_index") }}">Multiple Sequences Alignment</a></li>
                                    <li><a href="{{ path('reverse_complement') }}">Reverse-Complement</a></li>
                                </ul>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="{{ path('cart_view') }}" id="cart">
                                    <span class="fa fa-shopping-cart" title="Cart"></span>
                                    <span class="sr-only">Cart</span>
                                    <span class="badge">
                                        {% if app.session.get('cart') is not empty %}
                                            {{ app.session.get('cart').items|length }}
                                        {% else %}
                                            0
                                        {% endif %}
                                    </span>
                                </a>
                            </li>
                            {# Si l'utilisateur est connecté #}
                            {% if app.user %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.username }} <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        {# Si l'utilisateur est un administrateur #}
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <li><a href="{{ path('admin_index') }}"><span class="fa fa-cog" aria-hidden="true"></span> Administration</a></li>
                                            <li role="separator" class="divider"></li>
                                        {% endif %}
                                        <li><a href="{{ path("user_profile") }}"><span class="fa fa-user" aria-hidden="true"></span> Profile</a></li>
                                        <li><a href="{{ path("logout") }}"><span class="fa fa-sign-out" aria-hidden="true"></span> Log out</a></li>
                                    </ul>
                                </li>
                            {% else %}
                                <li><a href="{{ path("login") }}"><span class="fa fa-sign-in" aria-hidden="true"></span> Log in</a></li>
                                <li><a href="{{ path("user_registration") }}"><span class="fa fa-pencil" aria-hidden="true"></span> Register</a></li>
                            {% endif %}

                        </ul>

                        <form id="quick-search-form" class="navbar-form navbar-right hidden-sm" action="{{ path('quick-search') }}" method="GET">
                            <div class="input-group">
                                <input type="text" name="q" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button id="quick-search-submit" class="btn btn-default" type="submit" >
                                        <span class="fa fa-search" title="Search"></span>
                                        <span class="sr-only">Search</span>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div><!--/.nav-collapse -->
                </div>
            </nav>

            <div class="container">
                {% for label, messages in app.flashes(['success', 'info', 'warning', 'danger']) %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>{{ label|capitalize }}!</strong> {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                <ol class="breadcrumb hidden-print">
                    {% block breadcrumb %}
                        <li><a href="{{ path('homepage') }}"><span class="fa fa-home" aria-hidden="true"></span>&nbsp; Home</a></li>
                    {% endblock %}
                </ol>

                {% block body %}
                {% endblock %}
            </div>
        </div>

        <div class="container-fluid">
            <footer class="hidden-print row">
                <div class="col-md-3 text-center hidden-xs hidden-sm">
                    <a href="http://www.inra.fr" target="_blank"><img src="{{ preload(asset('images/INRA.png', 'image')) }}" alt="INRA" height="80"/></a>
                </div>

                <div class="col-md-3 text-center">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation"><a href="{{ path('contact_us') }}"><span class="fa fa-paper-plane"  aria-hidden="true"></span>  Contact us</a></li>
                        <li role="presentation"><a href="{{ path('privacy-policy') }}">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-md-3 text-center">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation"><a href="{{ path('faq') }}"><span class="fa fa-question"  aria-hidden="true"></span> FAQ</a></li>
                    </ul>
                </div>

                <div class="col-md-3 text-center hidden-xs hidden-sm">
                    <a href="http://igenolevures.org/" target="_blank"><img src="{{ preload(asset('images/igenolevure.png', 'image')) }}" alt="iGenoLevures" height="80"/></a>
                </div>
            </footer><!-- /Footer -->
        </div>

        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
            <script src="https://use.fontawesome.com/a7304d3ab9.js"></script>
            <script src="{{ preload(asset('js/app.min.js', 'js')) }}"></script>
            <script src="{{ preload(asset('bundles/fosjsrouting/js/router.js', 'js')) }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        {% endblock %}
    </body>
</html>
