{#
   Copyright 2015-2018 Mathieu Piot

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
#}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block metaTags %}
            <meta name="robots" content="index, follow">
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ preload(asset('favicon.ico')) }}" />

        <title>{% block title %}GRYC{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cousine">
            <link rel="stylesheet" href="{{ preload(asset('build/css/app.css')) }}">
        {% endblock %}
    </head>

    <body data-spy="scroll" data-target=".scrollspy" data-offset="112">
        <noscript>
            <div id="js-disclaimer" class="alert alert-danger text-center">
                Please use <a rel="nofollow" href="http://browsehappy.com/">a modern browser</a> with JavaScript activated to navigate through this website
            </div>
        </noscript>

        {# Primary navbar #}
        <nav id="primary-navbar" class="navbar fixed-top navbar-expand navbar-dark bg-dark d-print-none">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    {# If the user is logged in #}
                    {% if app.user %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUserLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="username-first-letter">{{ app.user.firstName|slice(0, 1)|upper }}{{ app.user.lastName|slice(0, 1)|upper }}</span> {{ app.user.firstName|capitalize }} {{ app.user.lastName|capitalize }}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownUserLink">
                                <h6 class="dropdown-header">{{ app.user.username }}</h6>
                                {# If the user is an administrator #}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a class="dropdown-item" href="{{ path('admin_index') }}">
                                        <span class="fas fa-cog fa-fw" aria-hidden="true"></span> Administration
                                    </a>
                                {% endif %}
                                <a class="dropdown-item" href="{{ path("user_profile") }}">
                                    <span class="fas fa-user fa-fw" aria-hidden="true"></span> Profile
                                </a>
                                <a class="dropdown-item" href="{{ logout_url('main') }}">
                                    <span class="fas fa-sign-out-alt fa-fw" aria-hidden="true"></span> Log out
                                </a>
                            </div>
                        </li>
                        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('user_index', {'_switch_user': '_exit'}) }}">Exit impersonation</a>
                            </li>
                        {% endif %}
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("login") }}" rel="nofollow"><span class="fas fa-sign-in-alt fa-fw" aria-hidden="true"></span> Log in</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("user_registration") }}" rel="nofollow"><span class="fas fa-pencil-alt fa-fw" aria-hidden="true"></span> Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        {# Header, with logo and blue background #}
        <header class="d-none d-md-block d-print-none">
            <div id="logo">
                <a href="{{ path('homepage') }}">
                    <img src="{{ preload(asset('build/images/logo-100.png')) }}" alt="GRYC"/>
                </a>
            </div>
            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                <div style="position: absolute; right: 10px; top: 10px;">
                    <a href="{{ path('user_index', {'_switch_user': '_exit'}) }}" style="color: #FFF;"><span class="fas fa-sign-out-alt" aria-hidden="true"></span>  Exit impersonation</a>
                </div>
            {% endif %}
        </header>

        {# Secondary navbar #}
        <nav id="secondary-navbar" class="navbar sticky-top navbar-expand-md navbar-light bg-light d-print-none">
            <a class="navbar-brand d-md-none" href="{{ path('homepage') }}"><img alt="GRYC" src="{{ preload(asset('build/images/logo-40.png')) }}"/></a>
            <button class="navbar-toggler d-print-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('advanced-search') }}" rel="nofollow"><span class="fas fa-search fa-fw" aria-hidden="true"></span> Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('strain_index') }}"><span class="fas fa-list fa-fw" aria-hidden="true"></span> Strains</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownToolsLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="fas fa-cogs fa-fw" aria-hidden="true"></span>  Tools
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownToolsLink">
                            <a class="dropdown-item" href="{{ path("blast_index") }}">Blast</a>
                            <a class="dropdown-item" href="{{ path("multiple_alignment_index") }}">Multiple Sequences Alignment</a>
                            <a class="dropdown-item" href="{{ path('reverse_complement') }}">Reverse-Complement</a>
                        </div>
                    </li>
                </ul>

                <ul class="navbar-nav">
                    {# Cart #}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('cart_view') }}" id="cart" rel="nofollow">
                            <span class="fas fa-shopping-cart fa-fw" title="Cart"></span>
                            <span class="sr-only">Cart</span>
                            <span class="badge badge-pill badge-secondary">
                                {% if app.session.get('cart') is not empty %}
                                    {{ app.session.get('cart').items|length }}
                                {% else %}
                                    0
                                {% endif %}
                            </span>
                        </a>
                    </li>
                </ul>

                {# Form in navbar, when screen to small, don't display #}
                <form class="form-inline d-none d-md-block" role="search" action="{{ path('quick-search') }}" method="GET">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <input type="search" class="form-control" name="q" aria-label="Search" placeholder="Search..." >
                        <button class="btn input-group-addon" type="submit" >
                            <span class="fas fa-search" title="Search"></span>
                            <span class="sr-only">Search</span>
                        </button>
                    </div>
                </form>
            </div>
        </nav>

        {# Form in body, when screen to small, display it #}
        <div class="container mb-3 d-md-none d-print-none">
            <form role="search" action="{{ path('quick-search') }}" method="GET">
                <div class="input-group">
                    <input type="search" class="form-control" name="q" aria-label="Search" placeholder="Search..." >
                    <button class="btn input-group-addon" type="submit" >
                        <span class="fas fa-search" title="Search"></span>
                        <span class="sr-only">Search</span>
                    </button>
                </div>
            </form>
        </div>

        {# Container, when we insert all pages #}
        <div class="container pb-3">
            {# List flashes messages #}
            {% for label, messages in app.flashes(['success', 'info', 'warning', 'danger']) %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible d-print-none" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>{{ label|capitalize }}!</strong> {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            {# Breadcrumb #}
            <ol class="breadcrumb d-print-none">
                {% block breadcrumb %}
                    <li class="breadcrumb-item"><a href="{{ path('homepage') }}"><span class="fas fa-home" aria-hidden="true"></span> Home</a></li>
                {% endblock %}
            </ol>

            {# Insert body here #}
            {% block body %}
            {% endblock %}
        </div>

        {# Footer #}
        <footer class="d-print-none">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 text-center d-none d-lg-block">
                        <a href="http://www.inra.fr" rel="nofollow">
                            <img src="{{ preload(asset('build/images/inra-80.png')) }}" alt="INRA"/>
                        </a>
                    </div>

                    <div class="col-md-3 text-center text-md-left">
                        <ul class="list-unstyled">
                            <li>
                                <a href="{{ path('faq') }}">
                                    <span class="fas fa-question fa-fw"  aria-hidden="true"></span> FAQ
                                </a><br>
                            </li>
                            <li>
                                <a href="https://github.com/mpiot/gryc" rel="nofollow">
                                    <span class="fab fa-github fa-fw" aria-hidden="true"></span> Github project
                                </a><br>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3 text-center text-md-left">
                        <ul class="list-unstyled">
                            <li>
                                <a href="{{ path('contact_us') }}">
                                    <span class="fas fa-paper-plane fa-fw"  aria-hidden="true"></span>  Contact us
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('privacy-policy') }}">
                                    <span class="fas fa-lock fa-fw"  aria-hidden="true"></span>  Privacy policy
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('publisher') }}">
                                    <span class="fas fa-building fa-fw"  aria-hidden="true"></span>  Publisher
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3 text-center d-none d-lg-block">
                        <a href="http://igenolevures.org/" rel="nofollow">
                            <img src="{{ preload(asset('build/images/igenolevure-80.png')) }}" alt="iGenoLevures"/>
                        </a>
                    </div>
                </div>
            </div>
        </footer>

        {% block javascripts %}
            <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
            <script src="{{ preload(asset('build/manifest.js')) }}"></script>
            <script src="{{ preload(asset('build/js/vendor.js')) }}"></script>
            <script src="{{ preload(asset('build/js/app.js')) }}"></script>
        {% endblock %}
    </body>
</html>
