<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}GRYC{% endblock %}</title>
        {% block metaTags %}
            <meta name="robots" content="index, follow">
        {% endblock %}

        {% block stylesheets %}
            <!-- Fonts -->
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cousine">

            <!-- CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ preload(asset('css/app.min.css', 'css')) }}" />
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ preload(asset('favicon.ico', 'image')) }}" />
    </head>

    <body data-spy="scroll" data-target=".scrollspy" data-offset="0">
        <div class="wrapper">
            <noscript>
                <div id="js-disclaimer" class="alert alert-danger text-center">
                    Please use <a rel="nofollow" href="http://browsehappy.com/">a modern browser</a> with JavaScript activated to navigate through this website
                </div>
            </noscript>

            <header class="d-none d-md-block">
                <div id="logo">
                    <a href="{{ path('homepage') }}"><img src="{{ preload(asset('images/logo.svg')) }}" alt="GRYC" height="130px"/></a>
                </div>
                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                    <div style="position: absolute; right: 10px; top: 10px;">
                        <a href="{{ path('user_index', {'_switch_user': '_exit'}) }}" style="color: #FFF;"><span class="fa fa-sign-out" aria-hidden="true"></span>  Exit impersonation</a>
                    </div>
                {% endif %}
            </header>

            <!-- Navbar -->
            <nav class="navbar navbar-expand-md navbar-light bg-light">
                <a class="navbar-brand d-md-none" href="{{ path('homepage') }}"><img alt="GRYC" src="{{ preload(asset('images/logo.svg')) }}" height="40 px" /></a>
                <button class="navbar-toggler d-print-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('advanced-search') }}"><span class="fa fa-search" aria-hidden="true"></span> Search</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('strain_index') }}"><span class="fa fa-list" aria-hidden="true"></span> Strains</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="fa fa-cog" aria-hidden="true"></span>  Tools
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{{ path("blast_index") }}">Blast</a>
                                <a class="dropdown-item" href="{{ path("multiple_alignment_index") }}">Multiple Sequences Alignment</a>
                                <a class="dropdown-item" href="{{ path('reverse_complement') }}">Reverse-Complement</a>
                            </div>
                        </li>
                    </ul>

                    <form class="form-inline" id="quick-search-form" role="search" action="{{ path('quick-search') }}" method="GET">

                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <input type="search" class="form-control" name="q" aria-label="Search" placeholder="Search..." >
                            <button class="btn input-group-addon" id="quick-search-submit" type="submit" >
                                <span class="fa fa-search" title="Search"></span>
                                <span class="sr-only">Search</span>
                            </button>
                        </div>
                    </form>

                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('cart_view') }}" id="cart">
                                <span class="fa fa-shopping-cart" title="Cart"></span>
                                <span class="sr-only">Cart</span>
                                <span class="badge badge-pill badge-secondary">
                                    {% if app.session.get('cart') is not empty %}
                                        {{ app.session.get('cart').items|length }}
                                    {% else %}
                                        0
                                    {% endif %}
                                </span>
                            </a>
                        </li>

                        {# Si l'utilisateur est connecté #}
                        {% if app.user %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    My account
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <h6 class="dropdown-header">{{ app.user.username }}</h6>
                                    {# Si l'utilisateur est un administrateur #}
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a class="dropdown-item" href="{{ path('admin_index') }}">
                                            <span class="fa fa-cog" aria-hidden="true"></span> Administration
                                        </a>
                                    {% endif %}
                                    <a class="dropdown-item" href="{{ path("user_profile") }}">
                                        <span class="fa fa-user" aria-hidden="true"></span> Profile
                                    </a>
                                    <a class="dropdown-item" href="{{ path("logout") }}">
                                        <span class="fa fa-sign-out" aria-hidden="true"></span> Log out
                                    </a>
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path("login") }}"><span class="fa fa-sign-in" aria-hidden="true"></span> Log in</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path("user_registration") }}"><span class="fa fa-pencil" aria-hidden="true"></span> Register</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>

            <div class="container">
                {% for label, messages in app.flashes(['success', 'info', 'warning', 'danger']) %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>{{ label|capitalize }}!</strong> {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                <ol class="breadcrumb d-print-none">
                    {% block breadcrumb %}
                        <li class="breadcrumb-item"><a href="{{ path('homepage') }}"><span class="fa fa-home" aria-hidden="true"></span> Home</a></li>
                    {% endblock %}
                </ol>

                {% block body %}
                {% endblock %}
            </div>
        </div>

        <div class="container-fluid">
            <footer class="row d-print-none mt-3">
                <div class="col-md-3 text-center d-none d-md-block">
                    <a href="http://www.inra.fr" target="_blank"><img src="{{ preload(asset('images/INRA.png', 'image')) }}" alt="INRA" height="80"/></a>
                </div>

                <div class="col-md-3 text-center text-md-left">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('contact_us') }}"><span class="fa fa-paper-plane"  aria-hidden="true"></span>  Contact us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('privacy-policy') }}">Privacy policy</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-3 text-center text-md-left">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('faq') }}"><span class="fa fa-question"  aria-hidden="true"></span> FAQ</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-3 text-center d-none d-md-block">
                    <a href="http://igenolevures.org/" target="_blank"><img src="{{ preload(asset('images/igenolevure.png', 'image')) }}" alt="iGenoLevures" height="80"/></a>
                </div>
            </footer><!-- /Footer -->
        </div>

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

            <script src="https://use.fontawesome.com/a7304d3ab9.js"></script>

            <script src="{{ preload(asset('bundles/fosjsrouting/js/router.js', 'js')) }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

            <script src="{{ preload(asset('js/app.min.js', 'js')) }}"></script>
        {% endblock %}
    </body>
</html>
