{# app/Ressources/views/admin/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
    Administration
{% endblock %}

{% block metaTags %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Administration</li>
{% endblock %}

{% block body %}
    <h1>Administration</h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">General</h3>
        </div>
        <div class="list-group">
            <a href="{{ path('user_index') }}" class="list-group-item">User management (Roles and rights)</a>
            <a href="{{ path('strain_admin_index') }}" class="list-group-item">Strain management (User rights)</a>
            <a href="{{ path('seo_homepage') }}" class="list-group-item">Seo management</a>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Genomic data management</h3>
        </div>
        <div class="list-group">
            <a href="{{ path('clade_index') }}" class="list-group-item">Clade</a>
            <a href="{{ path('species_list') }}" class="list-group-item">Species</a>
            <a href="{{ path('strain_admin_index') }}" class="list-group-item">Strain</a>
        </div>
    </div>
{% endblock %}
