{# app/Ressources/views/admin/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
    Administration
{% endblock %}

{% block metaTags %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Administration</li>
{% endblock %}

{% block body %}
    <h1>Administration</h1>
    <div class="card mb-3">
        <div class="card-header">
            <h3>General</h3>
        </div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action" href="{{ path('user_index') }}">User management (Roles and rights)</a>
            <a class="list-group-item list-group-item-action" href="{{ path('strain_admin_index') }}">Strain management (User rights)</a>
            <a class="list-group-item list-group-item-action" href="{{ path('seo_homepage') }}">Seo management</a>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            <h3>Genomic data management</h3>
        </div>
        <div class="list-group">
            <a class="list-group-item list-group-item-action" href="{{ path('clade_index') }}">Clade</a>
            <a class="list-group-item list-group-item-action" href="{{ path('species_list') }}">Species</a>
            <a class="list-group-item list-group-item-action" href="{{ path('strain_admin_index') }}">Strain</a>
        </div>
    </div>
{% endblock %}
