{% extends 'base.html.twig' %}

{% block title %}
    Reverse complement tool - {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item">Tools</li>
    <li class="breadcrumb-item active">Reverse complement</li>
{% endblock %}

{% block body %}
    <h1>Reverse complement</h1>

    {{ form_start(form) }}
        {{ form_row(form.action) }}
        {{ form_row(form.query, { 'attr' : { 'class': 'fasta-input' } }) }}
        {{ form_rest(form) }}

        <div class="btn-group" role="group">
            <button type="reset" class="btn btn-secondary"  onclick="event.preventDefault();document.getElementById('reverse_complement_query').value='';">
                <span class="fa fa-eraser" aria-hidden="true"></span> Clear
            </button>

            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#cartFormModal">
                <span class="fa fa-copy" aria-hidden="true"></span> Use cart sequences
            </button>

            <button type="submit" class="btn btn-primary">
                <span class="fa fa-play" aria-hidden="true"></span> Run
            </button>
        </div>

    {{ form_end(form) }}

    {{ render(controller('AppBundle:Cart:fasta')) }}
{% endblock %}
