{% extends 'base.html.twig' %}

{% block title %}
    Reverse complement tool - {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item">Tools</li>
    <li class="breadcrumb-item active">Reverse complement</li>
{% endblock %}

{% block body %}
    <h1>Reverse complement</h1>

    {{ form_start(form) }}
        {{ form_row(form.action) }}
        {{ form_row(form.query, { 'attr' : { 'class': 'fasta-input' } }) }}
        {{ form_rest(form) }}

        <button type="submit" class="btn btn-primary">Run</button>
    {{ form_end(form) }}
{% endblock %}
