{% extends 'base.html.twig' %}

{% block title %}
    Sequence manipulation
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('reverse_complement') }}">Reverse complement</a></li>
    <li class="active">Result: {{ action }}</li>
{% endblock %}

{% block body %}
    <h1>Sequence Manipulation: {{ action }}</h1>

    <button id="copy-button" class="btn btn-default">
        <span class="fa fa-clipboard" aria-hidden="true"></span> Copy the result in clipboard
    </button>

    <hr>

    <div class="col-sm-12">
        <textarea id="reverse-complement-result" class="form-control fasta-input" rows="20" >
            {%- for sequence in sequences -%}
                {%- if not loop.first -%}
                    {{ "\n\n" }}
                {%- endif -%}
                >{{- sequence.name ~"\n" -}}
                {{- sequence.sequence|wordwrap(60, "\n") -}}
            {%- endfor -%}
        </textarea>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $("#copy-button").click(function(){
            $("#reverse-complement-result").select();
            document.execCommand('copy');
        });
    </script>
{% endblock %}
