{# app/Ressources/views/strain/list.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
    Strain management
{% endblock %}

{% block metaTags %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('admin_index') }}">Administration</a></li>
    <li class="active">Strain management</li>
{% endblock %}

{% block body %}
    <h1>Strains</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Species</th>
                <th>Clade</th>
                <th>Public</th>
                <th>Type strain</th>
                <th>Actions</th>
            </tr>
            {% for strain in strains %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ strain.species.scientificname }}</td>
                    <td>{{ strain.name }}</td>
                    <td>{{ strain.species.clade.name }}</td>
                    <td>{{ strain.isPublicToString }}</td>
                    <td>{{ strain.isTypeStrainToString }}</td>
                    <td>
                        <div class="btn-group btn-group-xs" role="group">
                            <a class="btn btn-warning" href="{{ path('strain_edit', { 'id': strain.id }) }}" ><span class="fa fa-pencil" aria-hidden="true"></span> Edit</a>
                            {% if not strain.isPublic %}
                                <a class="btn btn-info" href="{{ path('strain_user_rights', { 'id': strain.id }) }}" ><span class="fa fa-user" aria-hidden="true"></span> User rights</a>
                            {% else %}
                                <span class="btn btn-info" disabled="disabled"><span class="fa fa-user" aria-hidden="true"></span> User rights</span>
                            {% endif %}
                            <a class="btn btn-danger" href="{{ path('strain_delete', { 'id': strain.id }) }}"><span class="fa fa-trash" aria-hidden="true"></span> Delete</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
