{# app/Ressources/views/strain/list.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
    Strain management - {{ parent() }}
{% endblock %}

{% block metaTags %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('admin_index') }}">Administration</a></li>
    <li class="breadcrumb-item active">Strain management</li>
{% endblock %}

{% block body %}
    <h1>Strains</h1>

    <table class="table table-responsive table-striped">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Species</th>
            <th>Clade</th>
            <th>Public</th>
            <th>Type strain</th>
            <th>Actions</th>
        </tr>
        {% for strain in strains %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ strain.species.scientificname }}</td>
                <td>{{ strain.name }}</td>
                <td>{{ strain.species.clade.name }}</td>
                <td>{{ strain.isPublicToString }}</td>
                <td>{{ strain.isTypeStrainToString }}</td>
                <td>
                    <div class="btn-group btn-group-sm" role="group">
                        <a class="btn btn-warning" href="{{ path('strain_edit', { 'id': strain.id }) }}" ><span class="fa fa-pencil" aria-hidden="true"></span> Edit</a>
                        {% if not strain.isPublic %}
                            <a class="btn btn-primary" href="{{ path('strain_user_rights', { 'id': strain.id }) }}" ><span class="fa fa-user" aria-hidden="true"></span> User rights</a>
                        {% else %}
                            <span class="btn btn-primary" disabled="disabled"><span class="fa fa-user" aria-hidden="true"></span> User rights</span>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
