{#
   Copyright 2015-2018 Mathieu Piot

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
#}


{% extends 'base.html.twig' %}

{% block title %}
    Strain management - {{ parent() }}
{% endblock %}

{% block metaTags %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('admin_index') }}">Administration</a></li>
    <li class="breadcrumb-item active">Strain management</li>
{% endblock %}

{% block body %}
    <h1>Strains</h1>

    <table class="table table-responsive-md table-striped">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Species</th>
            <th>Clade</th>
            <th>Public</th>
            <th>Type strain</th>
            <th>Actions</th>
        </tr>
        {% for strain in strains %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ strain.species.scientificname }}</td>
                <td>{{ strain.name }}</td>
                <td>{{ strain.species.clade.name }}</td>
                <td>{{ strain.isPublicToString }}</td>
                <td>{{ strain.isTypeStrainToString }}</td>
                <td>
                    <div class="btn-group btn-group-sm" role="group">
                        <a class="btn btn-warning" href="{{ path('strain_edit', { 'id': strain.id }) }}" ><span class="fas fa-pencil-alt" aria-hidden="true"></span> Edit</a>
                        {% if not strain.isPublic %}
                            <a class="btn btn-primary" href="{{ path('strain_user_rights', { 'id': strain.id }) }}" ><span class="fas fa-user" aria-hidden="true"></span> User rights</a>
                        {% else %}
                            <span class="btn btn-primary" disabled="disabled"><span class="fas fa-user" aria-hidden="true"></span> User rights</span>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
