{% extends 'base.html.twig' %}

{% block title %}
    User's authorizations for {{ strain.name }} - {{ parent() }}
{% endblock %}

{% block metaTags %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('admin_index') }}">Administration</a></li>
    <li class="breadcrumb-item"><a href="{{ path('strain_admin_index') }}">Strains list</a></li>
    <li class="breadcrumb-item active">User's authorizations for {{ strain.name }}</li>
{% endblock %}

{% block body %}
    <h1>User's authorizations for {{ strain.name }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Save changes</button>
    {{ form_end(form) }}
{% endblock %}
