{% extends 'base.html.twig' %}

{% block title %}
    User's authorizations for {{ strain.name }}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('admin_index') }}">Administration</a></li>
    <li><a href="{{ path('strain_admin_index') }}">Strains list</a></li>
    <li class="active">User's authorizations for {{ strain.name }}</li>
{% endblock %}

{% block body %}
    <h1>User's authorizations for {{ strain.name }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Save changes</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
