<table class="table table-responsive-md table-striped">
    <thead>
        <tr>
            <th>Sequence ID</th>
            <th>Length</th>
            <th>%GC</th>
            <th>#CDS</th>
            <th>Release</th>
            <th>Get CDS</th>
            <th>Get Chromosomes</th>
        </tr>
    </thead>

    <tbody>
        {% for chromosome in strain.chromosomes %}
            <tr>
                <td>{{ chromosome.name }}</td>
                <td>{{ chromosome.length|number_format }}</td>
                <td>{{ chromosome.gc|round(2) }}</td>
                <td>{{ chromosome.cdsCount|number_format }}</td>
                <td>{{ chromosome.dateReleased|date("Y-m-d") }}</td>
                <td>
                    {% for flatFile in chromosome.flatFiles %}
                        {% if flatFile.type == 'fasta-cds-nuc' %}
                            <a rel="nofollow" href="{{ asset(path('file_downloadFlatFile', { 'slug': flatFile.slug })) }}">
                                <img src="{{ preload(asset('build/images/down_fasta_nuc.png')) }}" alt="CDS Nucleotides Fasta" />
                            </a>
                        {% elseif flatFile.type == 'fasta-cds-pro' %}
                            <a rel="nofollow" href="{{ asset(path('file_downloadFlatFile', { 'slug': flatFile.slug })) }}">
                                <img src="{{ preload(asset('build/images/down_fasta_pro.png')) }}" alt="CDS Proteins Fasta" />
                            </a>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for flatFile in chromosome.FlatFiles %}
                        {% if flatFile.type == 'fasta-chr' %}
                            <a rel="nofollow" href="{{ asset(path('file_downloadFlatFile', { 'slug': flatFile.slug })) }}">
                                <img src="{{ preload(asset('build/images/down_fasta.png')) }}" alt="Chromosome Fasta" />
                            </a>
                        {% elseif flatFile.type == 'embl-chr' %}
                            <a rel="nofollow" href="{{ asset(path('file_downloadFlatFile', { 'slug': flatFile.slug })) }}">
                                <img src="{{ preload(asset('build/images/down_embl.png')) }}" alt="Chromosome EMBL" />
                            </a>
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </tbody>

    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a rel="nofollow" href="
                    {{ asset(path('file_downloadZipFlatFile', { 'strainName': strain.name, 'type': 'fasta-cds-nuc' })) }}">
                    <img src="{{ preload(asset('build/images/down_targz.png')) }}" alt="All CDS Nucleotides Fasta" />
                </a>
                <a rel="nofollow" href="{{ asset(path('file_downloadZipFlatFile', { 'strainName': strain.name, 'type': 'fasta-cds-pro' })) }}">
                    <img src="{{ preload(asset('build/images/down_targz.png')) }}" alt="All CDS Proteins Fasta" />
                </a>
            </td>
            <td>
                <a rel="nofollow" href="{{ asset(path('file_downloadZipFlatFile', { 'strainName': strain.name, 'type': 'fasta-chr' })) }}">
                    <img src="{{ preload(asset('build/images/down_targz.png')) }}" alt="All Chromosome Fasta" />
                </a>
                <a rel="nofollow" href="{{ asset(path('file_downloadZipFlatFile', { 'strainName': strain.name, 'type': 'embl-chr' })) }}">
                    <img src="{{ preload(asset('build/images/down_targz.png')) }}" alt="All Chromosome EMBL" />
                </a>
            </td>
        </tr>
    </tfoot>
</table>
