{# app/Ressources/views/species/edit.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
    Edit the strain: {{ strain.species.scientificname }} {{ strain.name }}
{% endblock %}

{% block metaTags %}
    <meta name="robots" content="noindex">
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('admin_index') }}">Administration</a></li>
    <li><a href="{{ path('strain_list') }}">Strain management</a></li>
    <li class="active">Edit the strain: {{ strain.species.scientificname }} {{ strain.name }}</li>
{% endblock %}

{% block body %}
    <h1>Edit the strain: {{ strain.species.scientificname }} {{ strain.name }}</h1>

    {{ form(form) }}
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/strain-collection.js') }}"></script>
{% endblock %}

