{# app/Ressources/views/species/edit.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
    Edit the species: {{ species.scientificname }}
{% endblock %}

{% block metaTags %}
    <meta name="robots" content="noindex">
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('admin_index') }}">Administration</a></li>
    <li><a href="{{ path('species_list') }}">Species management</a></li>
    <li class="active">Edit the species: {{ species.scientificname }}</li>
{% endblock %}

{% block body %}
    <h1>Edit the species: {{ species.scientificname }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Save changes</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(function () {
            collectionType($('div#species_lineages'), 'Add a lineage', 'add_lineage');
            collectionType($('div#species_synonymes'), 'Add a synonym', 'add_synonym');
        });
    </script>
{% endblock %}
