{#
   Copyright 2015-2018 Mathieu Piot

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
#}

{% extends 'base.html.twig' %}

{% block title %}
    Species management - {{ parent() }}
{% endblock %}

{% block metaTags %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('admin_index') }}">Administration</a></li>
    <li class="breadcrumb-item active">Species management</li>
{% endblock %}

{% block body %}
    <h1>Species</h1>

    <p>
        <a class="btn btn-success" href="{{ path('species_add') }}"><span class="fas fa-plus" aria-hidden="true"></span> Add</a>
    </p>

    <table class="table table-responsive-md table-striped">
        <tr>
            <th>#</th>
            <th>Scientific name</th>
            <th>Number of strains</th>
            <th>Clade</th>
            <th>Actions</th>
        </tr>
        {% for species in speciesList %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ species.scientificname }}</td>
                <td>{{ species.strains|length }}</td>
                <td>{{ species.clade.name }}</td>
                <td>
                    <div class="btn-group btn-group-sm" role="group">
                        <a class="btn btn-warning" href="{{ path('species_edit', { 'id': species.id }) }}" ><span class="fas fa-pencil-alt" aria-hidden="true"></span> Edit</a>
                        <a class="btn btn-danger" href="{{ path('species_delete', { 'id': species.id }) }}" {{ (species.strains|length > 0) ? 'disabled'  }}><span class="fas fa-trash-alt" aria-hidden="true"></span> Delete</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
