{# app/Ressources/views/species/list.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
    Species management - {{ parent() }}
{% endblock %}

{% block metaTags %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('admin_index') }}">Administration</a></li>
    <li class="breadcrumb-item active">Species management</li>
{% endblock %}

{% block body %}
    <h1>Species</h1>

    <p>
        <a class="btn btn-success" href="{{ path('species_add') }}"><span class="fa fa-plus" aria-hidden="true"></span> Add</a>
    </p>

    <table class="table table-responsive table-striped">
        <tr>
            <th>#</th>
            <th>Scientific name</th>
            <th>Number of strains</th>
            <th>Clade</th>
            <th>Actions</th>
        </tr>
        {% for species in speciesList %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ species.scientificname }}</td>
                <td>{{ species.strains|length }}</td>
                <td>{{ species.clade.name }}</td>
                <td>
                    <div class="btn-group btn-group-sm" role="group">
                        <a class="btn btn-warning" href="{{ path('species_edit', { 'id': species.id }) }}" ><span class="fa fa-pencil" aria-hidden="true"></span> Edit</a>
                        <a class="btn btn-danger" href="{{ path('species_delete', { 'id': species.id }) }}" {{ (species.strains|length > 0) ? 'disabled'  }}><span class="fa fa-trash" aria-hidden="true"></span> Delete</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
