<p>
    Hi {{ data.firstName }} {{ data.lastName }},<br>
    Thank you for your interest in GRYC.<br>
    We received your message, and we are going to treat it as quickly as possible.
</p>

<p>
    Best regards,<br>
    The GRYC Team
</p>

<hr>

<p style="text-decoration: underline;">Summary of your message</p>

<p>
    <span style="text-decoration: underline;">Category:</span> {{ data.category }}<br>
    <span style="text-decoration: underline;">Subject:</span> {{ data.subject }}<br>
    <span style="text-decoration: underline;">Message:</span><br>
    {{ data.message|nl2br }}
</p>
