<h3>Reply about your message: {{ question.subject }}</h3>
<p>{{ reply.answer|nl2br }}</p>

<hr>

<p style="text-decoration: underline;">Summary of your message</p>

<p>
    <span style="text-decoration: underline;">Category:</span> {{ question.category }}<br>
    <span style="text-decoration: underline;">Subject:</span> {{ question.subject }}<br>
    <span style="text-decoration: underline;">Message:</span><br>
    {{ question.message|nl2br }}
</p>
