{% extends 'base.html.twig' %}

{% block metaTags %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('user_profile') }}">My profile</a></li>
    <li class="breadcrumb-item active">Delete my account</li>
{% endblock %}

{% block body %}
    <div class="alert alert-danger">
        This action is irreversible, if you continue, all informations about you will be deleted from the database.
        But, you will be able to recreate an account in the future.
    </div>

    <div class="alert alert-primary">
        Fill the field with you current password, and click on "Delete my account" to definitively delete it.
    </div>

    {{ form_start(form) }}
        {{ form_rest(form) }}

        <button type="submit" class="btn btn-danger">Delete my account</button>

    {{ form_end(form) }}
{% endblock %}
