{% extends 'base.html.twig' %}

{% block metaTags %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">My profile</li>
{% endblock %}

{% block body %}
    <div class="btn-group btn-group-sm float-right" role="group">
        <a class="btn btn-secondary" href="{{ path('user_password_edit') }}">
            <span class="fa fa-key" aria-hidden="true"></span> Change password
        </a>

        <a class="btn btn-warning" href="{{ path('user_profile_edit') }}">
            <span class="fa fa-pencil" aria-hidden="true"></span> Edit
        </a>

        <a class="btn btn-danger" href="{{ path('user_profile_delete') }}">
            <span class="fa fa-trash" aria-hidden="true"></span> Delete
        </a>
    </div>

    <h3>{{ user.username }}</h3>
    <p>
        Name: {{ user.firstName }} {{ user.lastName }}<br>
        Company: {{ user.company }}
    </p>
{% endblock %}
