{#
   Copyright 2015-2018 Mathieu Piot

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
#}

{% extends 'base.html.twig' %}

{% block title %}
    Clade management - {{ parent() }}
{% endblock %}

{% block metaTags %}
    <meta name="robots" content="noindex">
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('admin_index') }}">Administration</a></li>
    <li class="breadcrumb-item active">Clade management</li>
{% endblock %}

{% block body %}
    <h1>Clades</h1>

    <p>
        <a class="btn btn-success" href="{{ path('clade_add') }}"><span class="fas fa-plus" aria-hidden="true"></span> Add</a>
    </p>

    <table class="table table-responsive-md table-striped">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
            <th>Main clade ?</th>
            <th>Number of species</th>
            <th>Actions</th>
        </tr>
        {% for clade in clades %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ clade.name }}</td>
                <td>{{ clade.description }}</td>
                <td>{{ clade.isMainCladeToString }}</td>
                <td>{{ clade.species|length }}</td>
                <td>
                    <div class="btn-group btn-group-sm" role="group">
                        <a class="btn btn-warning" href="{{ path('clade_edit', { 'id': clade.id }) }}"><span class="fas fa-pencil-alt" aria-hidden="true"></span> Edit</a>
                        <a class="btn btn-danger" href="{{ path('clade_delete', { 'id': clade.id }) }}" {{ (clade.species|length > 0) ? 'disabled' }}><span class="fas fa-trash-alt" aria-hidden="true"></span> Delete</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/object-child-disabled-button-alert.js') }}"></script>
{% endblock %}
