{% extends 'base.html.twig' %}

{% block title %}
    Multiple alignments tool - {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Multiple sequences alignment</li>
{% endblock %}

{% block body %}
    <h1>Multiple sequences alignment</h1>
    <p>Use the MAFFT tool on our website to align multiple sequences.</p>

    <hr>

    <div class="row">
        <div class="col-lg-8">
            {{ form_start(form) }}
                {{ form_row(form.query, { 'attr' : { 'class': 'fasta-input' } }) }}

                {{ form_rest(form) }}

                <button type="reset" class="btn btn-secondary">
                    Clear
                </button>

                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#cartFormModal">
                    <span class="fa fa-copy" aria-hidden="true"></span> Use cart sequences
                </button>

                <button type="submit" class="btn btn-primary">
                    <span class="fa fa-align-center" aria-hidden="true"></span> Align
                </button>
            {{ form_end(form) }}
        </div>

        {{ render(controller('AppBundle:Cart:fasta', { 'fastaTextarea': '#multiple_alignment_query' })) }}

        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">Alignment history (10 last)</div>
                <ul class="list-group list-group-flush">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        {% for alignment in previousMultipleAlignments %}
                            <li class="list-group-item">
                            <a href="{{ path('multiple_alignment_view', { 'name': alignment.name }) }}">
                                {{ alignment.created|date('Y/m/d H:i:s') }}
                            </a> -
                            {% if 'pending' == alignment.status %}
                                <span class="text-warning">Pending</span>
                            {% elseif 'running' == alignment.status %}
                                <span class="text-info">Running</span>
                            {% elseif 'failed' == alignment.status %}
                                <span class="text-danger">Error</span>
                            {% elseif 'finished' == alignment.status %}
                                <span class="text-success">Finished</span>
                            {% endif %}
                        {% else %}
                            <li class="list-group-item">
                                <i>No alignment found</i>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">
                            Only available for <a href="{{ path('login') }}">logged users</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
