{% set refreshTime = 2 %}

{% extends 'base.html.twig' %}

{% block metaTags %}
    {{ parent() }}
    {% if 'pending' == alignment.status or 'running' == alignment.status %}
        <meta http-equiv="refresh" content="{{ refreshTime }};">
    {% endif %}
{% endblock %}

{% block title %}
    Multiple sequences alignment result
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('multiple_alignment_index') }}">Multiple sequences alignment</a></li>
    <li class="active">Result</li>
{% endblock %}

{% block body %}
    <h1>Multiple sequences alignment result</h1>

    <p><a href="{{ path('multiple_alignment_index_prefilled', { 'name': alignment.name }) }}" class="btn btn-info" role="button"><span class="fa fa-repeat" aria-hidden="true"></span> Reuse the query</a></p>
    <hr>

    {% if 'pending' == alignment.status or 'running' == alignment.status %}
        <div class="text-center text-info">
            <span class="fa fa-spinner fa-pulse fa-4x fa-fw" aria-hidden="true"></span>
            <span class="sr-only">Loading...</span>

            <h2>Your alignment is processing, the page automatically refresh every {{ refreshTime }} seconds.</h2>
        </div>
    {% elseif 'failed' == alignment.status %}
        <div class="alert alert-danger" role="alert"><span class="fa fa-exclamation-circle" aria-hidden="true"></span> An error occured !</div>
    {% else %}
            <div class="panel panel-default">
                <div class="panel-heading">Legend</div>
                <div class="panel-body alignment">
                    <span class="identical-60">>=60 and <80%</span>
                    <span class="identical-80">>=80 and <100%</span>
                    <span class="identical-100">=100%</span>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Legend</div>
                <div class="panel-body alignment">
                    {% set nbSequences = result.0.alignment_rows|length %}

                    {% for row in result %}
                        <div class="alignment-row">
                            {% for alignmentRow in row['alignment_rows'] %}
                                <div class="sequence-row">
                                    <span class="sequence-name">{{ alignmentRow.name }}</span>
                                    <span class="sequence-position">{{ alignmentRow.start }}</span>
                                    <span class="sequence-bases">
                                            {%- for base in alignmentRow.bases -%}
                                                {%- if null != base.style -%}
                                                    <span class="{{ base.style }}">{{ base.letter }}</span>
                                                {%- else -%}
                                                    <span>{{ base.letter }}</span>
                                                {%- endif -%}
                                            {%- endfor -%}
                                    </span>
                                    <span class="sequence-position">{{ alignmentRow.end }}</span>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
    {% endif %}
{% endblock %}
