{% set refreshTime = 2 %}

{% extends 'base.html.twig' %}

{% block metaTags %}
    {{ parent() }}
    {% if 'pending' == alignment.status or 'running' == alignment.status %}
        <meta http-equiv="refresh" content="{{ refreshTime }};">
    {% endif %}
{% endblock %}

{% block title %}
    Multiple sequences alignment result
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('multiple_alignment_index') }}">Multiple sequences alignment</a></li>
    <li class="active">Result</li>
{% endblock %}

{% block body %}
    <h1>Multiple sequences alignment result</h1>

    <p><a href="{{ path('multiple_alignment_index_prefilled', { 'name': alignment.name }) }}" class="btn btn-info" role="button"><span class="fa fa-repeat" aria-hidden="true"></span> Reuse the query</a></p>
    <hr>

    {% if 'pending' == alignment.status or 'running' == alignment.status %}
        <div class="text-center text-info">
            <span class="fa fa-spinner fa-pulse fa-4x fa-fw" aria-hidden="true"></span>
            <span class="sr-only">Loading...</span>

            <h2>Your alignment is processing, the page automatically refresh every {{ refreshTime }} seconds.</h2>
        </div>
    {% elseif 'failed' == alignment.status %}
        <div class="alert alert-danger" role="alert"><span class="fa fa-exclamation-circle" aria-hidden="true"></span> An error occured !</div>
    {% else %}
        <h3>Coloration:</h3>
        <div class="btn-group" role="group" aria-label="...">
            <a type="button" class="btn btn-default {{ 'identities' == result.coloration ? 'active' }}" href="{{ path('multiple_alignment_view', { 'name': alignment.name, 'coloration': 'identities' }) }}">
                Identities
            </a>
            {% if 'prot' == result.sequence_type %}
                <a type="button" class="btn btn-default {{ 'similarities' == result.coloration ? 'active' }}" href="{{ path('multiple_alignment_view', { 'name': alignment.name, 'coloration': 'similarities' }) }}">
                    Similarities
                </a>
            {% endif %}
            <a type="button" class="btn btn-default {{ 'none' == result.coloration ? 'active' }}" href="{{ path('multiple_alignment_view', { 'name': alignment.name, 'coloration': 'none' }) }}">
                None
            </a>
        </div>

        <hr>

        {% if 'none' != result.coloration %}
            <div class="panel panel-default">
                <div class="panel-heading">Legend</div>
                <div class="panel-body alignment">
                    {% if 'identities' == result.coloration %}
                        Conservation:<br>
                        <span class="identities-100">&nbsp;&nbsp;&nbsp;</span> = 100%<br>
                        <span class="identities-80">&nbsp;&nbsp;&nbsp;</span> &#8805; 80%<br>
                        <span class="identities-60">&nbsp;&nbsp;&nbsp;</span> &#8805; 60%
                    {% elseif 'similarities' == result.coloration %}
                        Properties:<br>
                        {% spaceless %}
                        <span class="similarities-basic">&nbsp;&nbsp;&nbsp;</span> Basic<br>
                        <span class="similarities-nonpolar">&nbsp;&nbsp;&nbsp;</span> Nonpolar (hydrophobic)<br>
                        <span class="similarities-polar">&nbsp;&nbsp;&nbsp;</span> Polar, uncharged<br>
                        <span class="similarities-acidic">&nbsp;&nbsp;&nbsp;</span> Acidic
                        {% endspaceless %}
                    {% endif %}
                </div>
            </div>
        {% endif %}

            <div class="panel panel-default">
                <div class="panel-heading">Alignment</div>
                <div class="panel-body alignment">
                    {% for row in result.rows %}
                        <div class="alignment-row">
                            {% for alignmentRow in row['alignment_rows'] %}
                                <div class="sequence-row">
                                    <span class="sequence-name">{{ alignmentRow.name }}</span>
                                    <span class="sequence-position">{{ alignmentRow.start }}</span>
                                    <span class="sequence-bases">
                                            {%- for base in alignmentRow.bases -%}
                                                {%- if null != base.style -%}
                                                    <span class="{{ base.style }}">{{ base.letter }}</span>
                                                {%- else -%}
                                                    <span>{{ base.letter }}</span>
                                                {%- endif -%}
                                            {%- endfor -%}
                                    </span>
                                    <span class="sequence-position">{{ alignmentRow.end }}</span>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
    {% endif %}
{% endblock %}
