{# app/Ressources/views/species/add.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
    Add a species
{% endblock %}

{% block metaTags %}
    <meta name="robots" content="noindex">
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('admin_index') }}">Administration</a></li>
    <li><a href="{{ path('species_list') }}">Species management</a></li>
    <li class="active">Add a species</li>
{% endblock %}

{% block body %}
    <h1>Add a species</h1>

    {{ form_start(form) }}

    <div id="taxid">
        <div class="form-group">
            {{ form_label(form.taxid) }}
            <div class="col-sm-9">
                {{ form_widget(form.taxid) }}
            </div>
            <div class="col-sm-1">
                <a href="#" class="btn btn-info btn-sm" id="taxid-send"><span class=" glyphicon glyphicon-refresh"></span></a>
            </div>
        </div>
    </div>

    {{ form_rest(form)}}

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function() {
            // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
            var $container = $('div#species_synonymes');

            // On ajoute un lien pour ajouter une nouvelle catégorie
            var $addLink = $('<p><a href="#" id="add_synonym" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span> Add a synonym</a></p>');
            $container.prepend($addLink);

            // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
            $addLink.click(function(e) {
                addSynonym($container);
                e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                return false;
            });

            // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
            var index = $container.find(':input').length;

            // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
            if (index == 0) {
                addSynonym($container);
            } else {
                // Pour chaque catégorie déjà existante, on ajoute un lien de suppression
                $container.children('div').each(function() {
                    addDeleteLink($(this));
                });
            }

            // La fonction qui ajoute un formulaire Categorie
            function addSynonym($container) {
                // Dans le contenu de l'attribut « data-prototype », on remplace :
                // - le texte "__name__label__" qu'il contient par le label du champ
                // - le texte "__name__" qu'il contient par le numéro du champ
                var $prototype = $($container.attr('data-prototype')
                        .replace(/__name__label__/g, '')
                        .replace(/__name__/g, index));

                // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
                addDeleteLink($prototype);

                // On ajoute le prototype modifié à la fin de la balise <div>
                $container.append($prototype);

                // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
                index++;
            }

            // La fonction qui ajoute un lien de suppression d'une catégorie
            function addDeleteLink($prototype) {
                // Création du lien
                $deleteLink = $('<a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a>');

                // Ajout du lien
                $prototype.append($deleteLink);

                // Ajout du listener sur le clic du lien
                $deleteLink.click(function(e) {
                    $prototype.remove();
                    e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                    return false;
                });
            }
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
            var $container = $('div#species_lineages');

            // On ajoute un lien pour ajouter une nouvelle catégorie
            var $addLink = $('<p><a href="#" id="add_lineage" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span> Add a lineage</a></p>');
            $container.prepend($addLink);

            // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
            $addLink.click(function(e) {
                addLineage($container);
                e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                return false;
            });

            // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
            var index = $container.find(':input').length;

            // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
            if (index == 0) {
                addLineage($container);
            } else {
                // Pour chaque catégorie déjà existante, on ajoute un lien de suppression
                $container.children('div').each(function() {
                    addDeleteLink($(this));
                });
            }

            // La fonction qui ajoute un formulaire Categorie
            function addLineage($container) {
                // Dans le contenu de l'attribut « data-prototype », on remplace :
                // - le texte "__name__label__" qu'il contient par le label du champ
                // - le texte "__name__" qu'il contient par le numéro du champ
                var $prototype = $($container.attr('data-prototype')
                        .replace(/__name__label__/g, '')
                        .replace(/__name__/g, index));

                // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
                addDeleteLink($prototype);

                // On ajoute le prototype modifié à la fin de la balise <div>
                $container.append($prototype);

                // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
                index++;
            }

            // La fonction qui ajoute un lien de suppression d'une catégorie
            function addDeleteLink($prototype) {
                // Création du lien
                $deleteLink = $('<a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a>');

                // Ajout du lien
                $prototype.append($deleteLink);

                // Ajout du listener sur le clic du lien
                $deleteLink.click(function(e) {
                    $prototype.remove();
                    e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                    return false;
                });
            }
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#taxid-send").click(function (e) {
                // To prevent a # in the URL
                e.preventDefault();

                var taxid = $("#species_taxid").val();

                if (taxid.length > 0)
                    var url = "{{ path('species_getjson', { 'taxid': 'taxid-change' }) }}";
                    url = url.replace('taxid-change', taxid);

                    $.ajax({
                        url: url,
                        dataType: 'json',
                        beforeSend: function() {
                            $("body").css("cursor", "progress");
                            // Remove previous error messages
                            $("div#taxid > .form-group").removeClass("has-error");
                            $("div#taxid > .form-group > .col-sm-9 > .help-block").remove();
                        },
                        success: function (data) {
                            if ("error" in data) {
                                $("div#taxid > .form-group").addClass("has-error");
                                $("div#taxid > .form-group > .col-sm-9").append("<span class='help-block'><ul class='list-unstyled'><li><span class='glyphicon glyphicon-exclamation-sign'></span> "+ data.error +"</li> </ul></span>");
                            } else {
                                populate(data);
                            }
                        },
                        complete: function () {
                            $("body").css("cursor", "default");
                        }
                    });
            });

            function populate(data) {
                $.each(data, function(key, value){
                    // If this is a lineages or synonymes array, create fields before
                    if (key == 'synonymes' || key == 'lineages') {
                        // Create fields
                        for(i = 1; i < value.length; i++) {
                            if (key == 'synonymes')
                                $('#add_synonym').get(0).click();
                            else
                                $('#add_lineage').get(0).click();
                        }

                        // Hydrate the fields
                        $.each(value, function(subkey, subvalue){
                            $(' #species_'+key+'_'+subkey).val(subvalue);
                        });
                    } else {
                        $(' #species_'+key).val(value);
                    }
                });
            }
        });
    </script>
{% endblock %}
