{# app/Ressources/views/species/add.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
    Add a species
{% endblock %}

{% block metaTags %}
    <meta name="robots" content="noindex">
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('admin_index') }}">Administration</a></li>
    <li><a href="{{ path('species_list') }}">Species management</a></li>
    <li class="active">Add a species</li>
{% endblock %}

{% block body %}
    <h1>Add a species</h1>

    {{ form(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function() {
            // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
            var $container = $('div#species_synonymes');

            // On supprime les labels
            $('label[for^="species_synonymes_"]').text('');

            // On ajoute un lien pour ajouter une nouvelle catégorie
            var $addLink = $('<p><a href="#" id="add_synonym" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span> Add a synonym</a></p>');
            $container.append($addLink);

            // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
            $addLink.click(function(e) {
                e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                addSynonym($container);
                return false;
            });

            // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
            var index = $container.find(':input').length;

            // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
            if (index == 0) {
                addSynonym($container);
            } else {
                // Pour chaque catégorie déjà existante, on ajoute un lien de suppression
                $container.children('div').each(function() {
                    addDeleteLink($(this));
                });
            }

            // La fonction qui ajoute un formulaire Categorie
            function addSynonym($container) {
                // Dans le contenu de l'attribut « data-prototype », on remplace :
                // - le texte "__name__label__" qu'il contient par le label du champ
                // - le texte "__name__" qu'il contient par le numéro du champ
                var $prototype = $($container.attr('data-prototype')
                        .replace(/__name__label__/g, '')
                        .replace(/__name__/g, index));

                // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
                addDeleteLink($prototype);

                // On ajoute le prototype modifié à la fin de la balise <div>
                $('#add_synonym').before($prototype);

                // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
                index++;
            }

            // La fonction qui ajoute un lien de suppression d'une catégorie
            function addDeleteLink(prototype) {
                // Création du lien
                $deleteLink = $('<div class="col-sm-1"><a href="#" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span></a></div>');

                // Ajout du lien
                $('.col-sm-10', prototype).removeClass('col-sm-10').addClass('col-sm-9');
                prototype.append($deleteLink);

                // Ajout du listener sur le clic du lien
                $deleteLink.click(function(e) {
                    e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                    prototype.remove();
                    return false;
                });
            }
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
            var $container = $('div#species_lineages');

            // On supprime les labels
            $('label[for^="species_lineages_"]').text('');

            // On ajoute un lien pour ajouter une nouvelle catégorie
            var $addLink = $('<p><a href="#" id="add_lineage" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span> Add a lineage</a></p>');
            $container.append($addLink);

            // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
            $addLink.click(function(e) {
                e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                addLineage($container);
                return false;
            });

            // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
            var index = $container.find(':input').length;

            // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
            if (index == 0) {
                addLineage($container);
            } else {
                // Pour chaque catégorie déjà existante, on ajoute un lien de suppression
                $container.children('div').each(function() {
                    addDeleteLink($(this));
                });
            }

            // La fonction qui ajoute un formulaire Categorie
            function addLineage($container) {
                // Dans le contenu de l'attribut « data-prototype », on remplace :
                // - le texte "__name__label__" qu'il contient par le label du champ
                // - le texte "__name__" qu'il contient par le numéro du champ
                var $prototype = $($container.attr('data-prototype')
                        .replace(/__name__label__/g, '')
                        .replace(/__name__/g, index));

                // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
                addDeleteLink($prototype);

                // On ajoute le prototype modifié à la fin de la balise <div>
                $('#add_lineage').before($prototype);

                // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
                index++;
            }

            // La fonction qui ajoute un lien de suppression d'une catégorie
            function addDeleteLink(prototype) {
                // Création du lien
                $deleteLink = $('<div class="col-sm-1"><a href="#" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span></a></div>');

                // Ajout du lien
                $('.col-sm-10', prototype).removeClass('col-sm-10').addClass('col-sm-9');
                prototype.append($deleteLink);

                // Ajout du listener sur le clic du lien
                $deleteLink.click(function(e) {
                    prototype.remove();
                    e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                    return false;
                });
            }
        });
    </script>

    <script type="text/javascript">
        $(function () {
            // Set the taxid div
            var taxidDiv = $('#species_taxid').parent().parent();
            // Resize the input
            $('.col-sm-10', taxidDiv).removeClass('col-sm-10').addClass('col-sm-9');
            // Add a button and a hidden loader
            taxidDiv.append('<div class="col-sm-1"><a href="#" id="taxid-send" class="btn btn-info btn-sm"><span class=" glyphicon glyphicon-refresh"></span></a><img  style="display:none;" id="taxid-send-loader" src="{{ asset('images/ajax-loader.gif') }}" alt="Ajax loader" /></div>');

            // When someone click on the button
            $("#taxid-send").click(function (e) {
                // To prevent a # in the URL
                e.preventDefault();

                // Take the taxid value
                var taxid = $("#species_taxid").val();

                // If the visitor click on the button with something writed in the input field
                if (taxid.length > 0) {
                    // Define the URL for ajax, use replace permit use symfony routing
                    var url = "{{ path('species_getjson', { 'taxid': 'taxid-change' }) }}";
                    url = url.replace('taxid-change', taxid);

                    $.ajax({
                        url: url,
                        dataType: 'json',
                        beforeSend: function () {
                            // Replace the button by a loader
                            $('#taxid-send').hide();
                            $('#taxid-send-loader').show();

                            // Remove previous error messages
                            taxidDiv.removeClass("has-error");
                            $(".col-sm-9  > .help-block", taxidDiv).remove();

                            // Empty first input
                            $('#species_lineages :input:first').val('');
                            $('#species_synonymes :input:first').val('');

                            // Remove previous collection input
                            $('#species_lineages :input:gt(0)').parent().parent().remove();
                            $('#species_synonymes :input:gt(0)').parent().parent().remove();
                        },
                        success: function (data) {
                            // If the result is an error, display it
                            if ("error" in data) {
                                taxidDiv.addClass("has-error");
                                $(".col-sm-9", taxidDiv).append("<span class='help-block'><ul class='list-unstyled'><li><span class='glyphicon glyphicon-exclamation-sign'></span> " + data.error + "</li> </ul></span>");
                            // Else call populate function
                            } else {
                                populate(data);
                            }
                        },
                        complete: function () {
                            // Replace the loader by a button
                            $('#taxid-send').show();
                            $('#taxid-send-loader').hide();
                        }
                    });
                }
            });

            function populate(data) {
                // A while on each value of the json
                $.each(data, function(key, value){
                    // If this is a lineages or synonymes array, create fields before
                    if (key == 'synonymes' || key == 'lineages') {
                        // Create fields
                        for(i = 1; i < value.length; i++) {
                            if (key == 'synonymes')
                                $('#add_synonym').trigger('click');
                            else
                                $('#add_lineage').trigger('click');
                        }

                        // Hydrate the fields
                        $.each(value, function(subkey, subvalue){
                            //$(' #species_'+key+'_'+subkey).val(subvalue);
                            $('#species_'+key+' :input').eq(subkey).val(subvalue);
                        });
                    // Else just fill the input
                    } else {
                        $(' #species_'+key).val(value);
                    }
                });
            }
        });
    </script>
{% endblock %}
