{# app/Ressources/views/species/edit.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
    Edit the species: {{ species.scientificname }}
{% endblock %}

{% block metaTags %}
    <meta name="robots" content="noindex">
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('admin_index') }}">Administration</a></li>
    <li><a href="{{ path('species_list') }}">Species management</a></li>
    <li class="active">Edit the species: {{ species.scientificname }}</li>
{% endblock %}

{% block body %}
    <h1>Edit the species: {{ species.scientificname }}</h1>

    {{ form(form) }}
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/species-collection.js') }}"></script>
{% endblock %}
