{% extends 'base.html.twig' %}

{% block title %}
    List of the species on GRYC
{% endblock %}

{% block metaTags %}
    {{ parent() }}
    <meta name="description" content="the list of all the species in the database." />
{% endblock %}

{% block breadcrumb %}
    {{ parent() }} <li class="active">Species</li>
{% endblock %}

{% block body %}
    <h1>List of the available species</h1>
    <ul>
        {% for species in speciesList %}
            {% set nbStrains = species.strains|length %}
            <li><a href="{{ path('species_view', { scientificname: species.scientificname }) }}"><i>{{ species.scientificname }}</i></a> ({{ nbStrains }} {{ nbStrains > 1 ? "strains" : "strain" }})</li>
        {% endfor %}
    </ul>
{% endblock %}