{#
   Copyright 2015-2018 Mathieu Piot

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
#}

{% extends 'base.html.twig' %}

{% block title %}
    {{ species.scientificname }} - {{ parent() }}
{% endblock %}

{% block metaTags %}
    {{ parent() }}
    {% if species.seos is not null %}
        {% for seo in species.seos %}
            <meta name="{{ seo.name }}" content="{{ seo.content }}" />
        {% endfor %}
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('strain_index') }}">Species & strains list</a></li>
    <li class="breadcrumb-item active"><i>{{ species.scientificname }}</i></li>
{% endblock %}

{% block body %}
    <h1><i>{{ species.scientificname }}</i></h1>

    <div class="row">
        <div class="col-lg-8">
            <div class="card mb-3">
                <div class="card-header">General informations</div>
                <div class="card-body">
                    <p>Genus: <i>{{ species.genus }}</i></p>
                    <p>Species: <i>{{ species.species }}</i></p>
                    {% if species.taxid is not null %}
                        <p>TaxId: <a href="http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{ species.taxid }}">{{ species.taxid }}</a></p>
                    {% endif %}
                    <p>Synonymes:</p>
                    <ul>
                        {% if species.synonymes is not null %}
                            {% for synonyme in species.synonymes %}
                                <li>{{ synonyme|capitalize }}</li>
                            {% endfor %}
                        {% else %}
                            <li>There is not synonyme.</li>
                        {% endif %}
                    </ul>
                    <p>Lineage:<br>
                        {{ species.lineages|join('; ') }}
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card mb-3">
                        <div class="card-header">Genetics informations</div>
                        <div class="card-body">
                            <p>Genetic code: {{ species.geneticCode }}</p>
                            <p>Mitochondrial code: {{ species.mitoCode }}</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="card mb-3">
                        <div class="card-header">Strains</div>
                        <ul class="list-group list-group-flush">
                            {% set displayedStrain = 0 %}
                            {% for strain in species.strains %}
                                {% if is_granted('VIEW', strain) %}
                                    <li class="list-group-item"><a class="list-group-item-action" href="{{ path('strain_view', {'species_slug': species.slug, 'strain_slug': strain.slug }) }}">{{ strain.name }}</a> {{ (strain.isTypeStrain) ? '<abbr title="Type strain"><small style="color: #527EB1;">T</small></abbr>' }}</li>
                                    {% set displayedStrain = displayedStrain + 1 %}
                                {% endif %}
                            {% endfor %}
                            {% if displayedStrain == 0 %}
                                <li class="list-group-item">No strains available</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if species.description is not null %}
        <div class="row">
            <div class="col">
                <div class="card mb-3">
                    <div class="card-header">Description</div>
                    <div class="card-body">
                        {{ species.description|raw }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
