{% extends 'base.html.twig' %}

{% block title %}
    Blast
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Blast</li>
{% endblock %}

{% block body %}
    <h1>BLAST</h1>

    <div  {{ (previousBlasts is not empty) ? 'class="col-md-9"' : 'class="col-md-12"' }}>
        {{ form_start(form) }}
            {{ form_row(form.blastType) }}
            {{ form_row(form.database) }}
            {{ form_row(form.strainsFilter) }}
            {{ form_row(form.strains) }}
            {{ form_row(form.query) }}

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="reset" class="btn btn-default" onclick="event.preventDefault();document.getElementById('blast_query').value='';">
                        Clear
                    </button>
                    <button type="submit" class="btn btn-info"><span class="fa fa-cog" aria-hidden="true"></span> BLAST</button>
                </div>
            </div>

            <fieldset>
                <legend>Options</legend>
                    {{ form_row(form.filter) }}
                    {{ form_row(form.evalue) }}
                    {{ form_row(form.gapped) }}
                    {{ form_row(form.maxHits) }}
                    {{ form_row(form.matrix) }}
                    {{ form_row(form.otherOptions) }}
            </fieldset>
        {{ form_end(form) }}
    </div>

    {% if previousBlasts is not empty %}
        <div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">BLAST history (10 last)</div>
                <ul class="list-group">
                    {% for blast in previousBlasts %}
                        <a href="{{ path('blast_job', { 'name': blast.name }) }}" class="list-group-item">{{ blast.created|date('Y/m/d H:i:s') }}</a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            var $blastType = $('#blast_blastType');

            // When genus gets selected ...
            $blastType.change(function () {
                // ... retrieve the corresponding form.
                var $form = $(this).closest('form');
                // Simulate form data, but only include the selected genus value.
                var data = {};
                data[$blastType.attr('name')] = $blastType.val();

                // Submit data via AJAX to the form's action path.
                $.ajax({
                    url: $form.attr('action'),
                    type: $form.attr('method'),
                    data: data,
                    success: function (html) {
                        console.log(html);
                        // Replace current position field ...
                        $('select#blast_database').replaceWith(
                            // ... with the returned one from the AJAX response.
                            $(html).find('select#blast_database')
                        );
                        $('select#blast_matrix').replaceWith(
                            // ... with the returned one from the AJAX response.
                            $(html).find('select#blast_matrix')
                        );
                    }
                });
            });
        });

        $(document).ready(function() {
            strainsFilter($( "#blast_strains" ), $( "#blast_strainsFilter" ));
        });
    </script>
{% endblock %}
