{% extends 'base.html.twig' %}
{% form_theme form 'form_div_layout.html.twig' %}

{% block title %}
    BLAST on yeasts genomes - {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">BLAST - Basic Local Alignment Search Tool</li>
{% endblock %}

{% block body %}
    <h1>BLAST on yeast genomes</h1>
    <p>Use the NCBI BLAST on our website to find regions of similarity in our sequences database.</p>

    <hr>

    <div class="row">
        <div class="col-lg-8">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                <fieldset class="form-group">
                    <div id="{{ form.tool.vars.id }}" class="btn-group" data-toggle="buttons">
                        {% for tool in form.tool %}
                            <label class="btn btn-outline-primary {{- tool.vars.checked ? ' active'  }}">
                                {{ form_widget(tool) }} {{ tool.vars.label }}
                            </label>
                        {% endfor %}
                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <div id="{{ form.database.vars.id }}" class="btn-group" data-toggle="buttons">
                        {% for database in form.database %}
                            <label class="btn btn-outline-primary {{- database.vars.checked or database.vars.attr.checked is defined ? ' active' }} {{- database.vars.attr.disabled is defined ? ' disabled' }}">
                                {{ form_widget(database) }} {{ database.vars.label }}
                            </label>
                        {% endfor %}
                    </div>
                </fieldset>

                <div class="form-group">
                    {{ form_widget(form.query, {'attr': {'class': 'form-control fasta-input'}}) }}
                    <div class="invalid-feedback">
                        Please provide a valid state.
                    </div>
                </div>

                <div class="btn-group mb-3" role="group">
                    <button type="reset" class="btn btn-secondary" onclick="event.preventDefault();document.getElementById('blast_query').value='';">
                        Clear
                    </button>

                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#cartFormModal">
                        <span class="fa fa-copy" aria-hidden="true"></span> Use cart sequences
                    </button>

                    <button type="submit" class="btn btn-primary">
                        <span class="fa fa-cog" aria-hidden="true"></span> BLAST
                    </button>
                </div>

                <hr>

                <div class="form-group">
                    {{ form_label(form.strainsFilter.filter) }}
                    {{ form_widget(form.strainsFilter.filter, {'attr': {'class': 'form-control'}}) }}
                </div>

                <fieldset class="form-group">
                    <legend class="col-form-legend {{- form.strainsFilter.strains.vars.required ? ' required'  }}">{{ form.strainsFilter.strains.vars.name|capitalize }}</legend>
                    <div id="{{ form.strainsFilter.strains.vars.id }}" class="custom-controls-stacked">
                        {% for strain in form.strainsFilter.strains %}
                            <label class="custom-control custom-checkbox">
                                {{ form_widget(strain, { 'attr': {'class': 'custom-control-input'} }) }}
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">{{ strain.vars.label }}</span>
                            </label>
                        {% endfor %}
                        <div class="invalid-feedback">
                            {{ form_errors(form.strainsFilter.strains) }}
                        </div>

                        <div class="invalid-feedback">
                            Please provide a valid state.
                        </div>
                    </div>
                </fieldset>

                <hr>

                <fieldset>
                    <legend>Options</legend>
                        <div class="form-group">
                            {{ form_label(form.filter) }}
                            {{ form_widget(form.filter, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.evalue) }}
                            {{ form_widget(form.evalue, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.gapped) }}
                            {{ form_widget(form.gapped, {'attr': {'class': 'form-control'}}) }}
                        </div>
                </fieldset>

                {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>

        {{ render(controller('AppBundle:Cart:fasta', { 'fastaTextarea': '#blast_query' })) }}

        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">BLAST history (10 last)</div>
                <ul class="list-group list-group-flush">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        {% for blast in previousBlasts %}
                            <li class="list-group-item">
                                <a href="{{ path('blast_view', { 'name': blast.name }) }}">
                                    {{ blast.created|date('Y/m/d H:i:s') }}
                                </a> -
                                {% if 'pending' == blast.status %}
                                    <span class="text-info">Running</span>
                                {% elseif 'failed' == blast.status %}
                                    <span class="text-danger">Error</span>
                                {% elseif 'finished' == blast.status %}
                                    <span class="text-success">Finished</span>
                                {% endif %}
                            </li>
                        {% else %}
                            <li class="list-group-item">
                                <i>No BLAST found</i>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">
                            Only available for <a href="{{ path('login') }}">logged users</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
