{% extends 'base.html.twig' %}

{% block title %}
    BLAST on yeasts genomes
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">BLAST - Basic Local Alignment Search Tool</li>
{% endblock %}

{% block body %}
    <h1>BLAST on yeasts genomes</h1>
    <p>Use the NCBI BLAST on our website to find regions of similarity in our sequences database.</p>

    <hr>

    <div class="row">
        <div class="col-md-9">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_row(form.tool) }}
                {{ form_row(form.database) }}
                {{ form_row(form.strainsFilter.filter) }}
                {{ form_row(form.strainsFilter.strains) }}
                {{ form_row(form.query, { 'attr' : { 'class': 'fasta-input' } }) }}

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="reset" class="btn btn-default" onclick="event.preventDefault();document.getElementById('blast_query').value='';">
                            Clear
                        </button>

                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#cartFormModal">
                            <span class="fa fa-copy" aria-hidden="true"></span> Use cart sequences
                        </button>

                        <button type="submit" class="btn btn-info">
                            <span class="fa fa-cog" aria-hidden="true"></span> BLAST
                        </button>
                    </div>
                </div>

                <fieldset>
                    <legend>Options</legend>
                    {{ form_row(form.filter) }}
                    {{ form_row(form.evalue) }}
                    {{ form_row(form.gapped) }}
                </fieldset>

                {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>

        {{ render(controller('AppBundle:Cart:fasta', { 'fastaTextarea': '#blast_query' })) }}

        <div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">BLAST history (10 last)</div>
                <ul class="list-group">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        {% for blast in previousBlasts %}
                            <li class="list-group-item">
                            <a href="{{ path('blast_view', { 'name': blast.name }) }}">
                                {{ blast.created|date('Y/m/d H:i:s') }}
                            </a> -
                            {% if 'pending' == blast.status %}
                                <span class="text-info">Running</span>
                            {% elseif 'failed' == blast.status %}
                                <span class="text-danger">Error</span>
                            {% elseif 'finished' == blast.status %}
                                <span class="text-success">Finished</span>
                            {% endif %}
                        {% else %}
                            <li class="list-group-item">
                                <i>No BLAST found</i>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">
                            Only available for <a href="{{ path('login') }}">logged users</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            var $tool = $('#blast_tool');

            // When genus gets selected ...
            $tool.change(function () {
                // ... retrieve the corresponding form.
                var $form = $(this).closest('form');
                // Simulate form data, but only include the selected genus value.
                var data = {};
                data[$tool.attr('name')] = $tool.val();

                // Submit data via AJAX to the form's action path.
                $.ajax({
                    url: $form.attr('action'),
                    type: $form.attr('method'),
                    data: data,
                    success: function (html) {
                        console.log(html);
                        // Replace current position field ...
                        $('select#blast_database').replaceWith(
                            // ... with the returned one from the AJAX response.
                            $(html).find('select#blast_database')
                        );
                        $('select#blast_matrix').replaceWith(
                            // ... with the returned one from the AJAX response.
                            $(html).find('select#blast_matrix')
                        );
                    }
                });
            });
        });

        $(document).ready(function() {
            strainsFilter($( "#blast_strainsFilter_strains" ), $( "#blast_strainsFilter_filter" ));
        });
    </script>
{% endblock %}
