{% set refreshTime = 2 %}

{% extends 'base.html.twig' %}

{% block metaTags %}
    {{ parent() }}
    {% if 'pending' == blast.status %}
        <meta http-equiv="refresh" content="{{ refreshTime }};">
    {% endif %}
{% endblock %}

{% block title %}
    BLAST result
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('blast_index') }}">BLAST - Basic Local Alignment Search Tool</a></li>
    <li class="active">BLAST result</li>
{% endblock %}

{% block body %}
    <h1>BLAST result</h1>

    <div class="row hidden-print">
        <div class="col-xs-10">
            <a href="{{ path('blast_index_prefilled', { 'name': blast.name }) }}" class="btn btn-info" role="button">
                <span class="fa fa-repeat" aria-hidden="true"></span> Reuse the query
            </a>
        </div>

        <div class="col-xs-2 text-right ">
            <button class="btn btn-xs btn-default" onClick="window.print()">
                <span class="fa fa-print" aria-hidden="true"></span> Print
            </button>
        </div>
    </div>

    {% if 'pending' == blast.status %}
        <div class="text-center text-info">
            <span class="fa fa-spinner fa-pulse fa-4x fa-fw" aria-hidden="true"></span>
            <span class="sr-only">Loading...</span>

            <h2>Your BLAST is processing, the page automatically refresh every {{ refreshTime }} seconds.</h2>
        </div>
    {% elseif 'failed' == blast.status %}
        <div class="alert alert-danger" role="alert"><span class="fa fa-exclamation-circle" aria-hidden="true"></span> An error occured !</div>
    {% else %}
        {% include 'blast/result.html.twig' with {'result': result} %}
    {% endif %}
{% endblock %}
