{# app/Ressources/views/clade/add.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
    Add a clade
{% endblock %}

{% block metaTags %}
    <meta name="robots" content="noindex">
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('admin_index') }}">Administration</a></li>
    <li class="breadcrumb-item"><a href="{{ path('clade_index') }}">Clade management</a></li>
    <li class="breadcrumb-item active">Add a clade</li>
{% endblock %}

{% block body %}
    <h1>Add a clade</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Save</button>
    {{ form_end(form) }}
{% endblock %}
