{# app/Ressources/views/clade/add.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
    Add a clade
{% endblock %}

{% block metaTags %}
    <meta name="robots" content="noindex">
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('admin_index') }}">Administration</a></li>
    <li><a href="{{ path('clade_index') }}">Clade management</a></li>
    <li class="active">Add a clade</li>
{% endblock %}

{% block body %}
    <h1>Add a clade</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
