{#
   Copyright 2015-2018 Mathieu Piot

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
#}

{% extends 'base.html.twig' %}

{% block title %}
    Delete the clade: {{ clade.name }} - {{ parent() }}
{% endblock %}

{% block metaTags %}
    <meta name="robots" content="noindex">
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('admin_index') }}">Administration</a></li>
    <li class="breadcrumb-item"><a href="{{ path('clade_index') }}">Clade management</a></li>
    <li class="breadcrumb-item active">Delete the clade: {{ clade.name }}</li>
{% endblock %}

{% block body %}
    <h1>Delete the clade: {{ clade.name }}</h1>

    {% if clade.species|length > 0 %}
        <div class="alert alert-danger" role="alert">
            <b>CAUTION !</b> You are about to delete a clade !<br>
                The following species are linked on this clade:
                <ul>
                    {% for species in clade.species %}
                        <li>{{ species.scientificname }}</li>
                    {% endfor %}
                </ul>
        </div>
    {% else %}
        <div class="alert alert-warning" role="alert">
            <b>CAUTION !</b> You are about to delete a clade !<br>
            The following species are linked on this clade:
            <ul>
                    <li>No species linked on this clade</li>
            </ul>
        </div>
    {% endif %}


    <p>Are you sure you want to delete the clade :"<b>{{ clade.name }}</b>" ?</p>

    <p style="color: red;">Nb: I you delete a clade with species in, ALL species, strains, chromosomes and files will be deleted too !</p>

    <p>Type this to confirm: "I confirm the deletion"</p>

    <form action="{{ path('clade_delete', {'id': clade.id}) }}" method="post">

        {{ form_row(form.confirm) }}
        <div class="btn-group" role="group">
            <a class="btn btn-primary" href="{{ path('clade_index') }}" role="button">
                <span class="fas fa-chevron-left" aria-hidden="true"></span>
                Back
            </a>
            <input class="btn btn-danger" value="I'm sure, DELETE IT" type="submit" />
        </div>

        {{ form_rest(form) }}
    </form>

{% endblock %}
