{% extends 'base.html.twig' %}

{% block title %}
    BLAST on yeasts genomes - {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('tools') }}">Tools</a></li>
    <li class="breadcrumb-item active">BLAST - Basic Local Alignment Search Tool</li>
{% endblock %}

{% block body %}
    <h1>BLAST on yeast genomes</h1>
    <p>Use the NCBI BLAST {{ blast_version }} on our website to find regions of similarity in our sequences database.</p>

    <hr>

    <div class="row">
        <div class="col-lg-8">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

                {% form_theme form 'form/form_div_layout.html.twig' %}

                <fieldset class="form-group">
                    <div id="{{ form.tool.vars.id }}" class="btn-group" data-toggle="buttons">
                        {% for tool in form.tool %}
                            <label class="btn btn-outline-primary {{- tool.vars.checked ? ' active'  }}">
                                {{ form_widget(tool) }} {{ tool.vars.label }}
                            </label>
                        {% endfor %}
                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <div id="{{ form.database.vars.id }}" class="btn-group" data-toggle="buttons">
                        {% for database in form.database %}
                            <label class="btn btn-outline-primary {{- database.vars.checked or database.vars.attr.checked is defined ? ' active' }} {{- database.vars.attr.disabled is defined ? ' disabled' }}">
                                {{ form_widget(database) }} {{ database.vars.label }}
                            </label>
                        {% endfor %}
                    </div>
                </fieldset>

            {% form_theme form 'form/bootstrap_4_layout.html.twig' %}

                {{ form_row(form.query, {'attr': {'class': 'form-control fasta-input'}}) }}

                <div class="btn-group" role="group">
                    <button type="reset" class="btn btn-secondary" onclick="event.preventDefault();document.getElementById('blast_query').value='';">
                        <span class="fa fa-eraser" aria-hidden="true"></span> Clear
                    </button>

                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#cartFormModal">
                        <span class="fa fa-copy" aria-hidden="true"></span> Use cart sequences
                    </button>

                    <button type="submit" class="btn btn-primary">
                        <span class="fa fa-play" aria-hidden="true"></span> Run
                    </button>
                </div>

                <div class="form-spotlight">
                    <fieldset>
                        <legend>Strains selection</legend>
                        {{ form_row(form.strainsFilter.filter) }}
                        {{ form_row(form.strainsFilter.strains) }}
                    </fieldset>
                </div>

                <div class="form-spotlight">
                    <fieldset>
                        <legend>Options</legend>
                        {{ form_row(form.filter) }}
                        {{ form_row(form.gapped) }}
                        {{ form_row(form.evalue) }}
                    </fieldset>
                </div>

                {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>

        {{ render(controller('AppBundle:Cart:fasta')) }}

        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">BLAST history (10 last)</div>
                <ul class="list-group list-group-flush">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        {% for blast in previousBlasts %}
                            <li class="list-group-item">
                                <a href="{{ path('blast_view', { 'name': blast.name }) }}">
                                    {{ blast.created|date('Y/m/d H:i:s') }}
                                </a> -
                                {% if 'pending' == blast.status %}
                                    <span class="text-info">Running</span>
                                {% elseif 'failed' == blast.status %}
                                    <span class="text-danger">Error</span>
                                {% elseif 'finished' == blast.status %}
                                    <span class="text-success">Finished</span>
                                {% endif %}
                            </li>
                        {% else %}
                            <li class="list-group-item">
                                <i>No BLAST found</i>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">
                            Only available for <a href="{{ path('login') }}">logged users</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
