{#
   Copyright 2015-2018 Mathieu Piot

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
#}

{% set refreshTime = 2 %}

{% extends 'base.html.twig' %}

{% block metaTags %}
    {{ parent() }}
    {% if 'pending' == blast.status %}
        <meta http-equiv="refresh" content="{{ refreshTime }};">
    {% endif %}
{% endblock %}

{% block title %}
    BLAST result - {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('tools') }}">Tools</a></li>
    <li class="breadcrumb-item"><a href="{{ path('blast_index') }}">BLAST - Basic Local Alignment Search Tool</a></li>
    <li class="breadcrumb-item active">BLAST result</li>
{% endblock %}

{% block body %}
    <h1>BLAST result</h1>

    <div class="row">
        <div class="col-12">
            <div class="btn-group btn-group-sm d-print-none float-right my-3" role="group">
                <a class="btn btn-primary" href="{{ path('blast_index_prefilled', { 'name': blast.name }) }}" role="button">
                    <span class="fas fa-redo" aria-hidden="true"></span> Reuse the query
                </a>

                <button class="btn btn-secondary" onClick="window.print()">
                    <span class="fas fa-print" aria-hidden="true"></span> Print
                </button>
            </div>
        </div>
    </div>

    {% if 'pending' == blast.status %}
        <div class="text-center text-primary">
            <span class="fas fa-spinner fa-pulse fa-4x fa-fw" aria-hidden="true"></span>
            <span class="sr-only">Loading...</span>

            <h2>
                Your BLAST is processing...<br>
                The page automatically refresh every {{ refreshTime }} seconds.
            </h2>
        </div>
    {% elseif 'failed' == blast.status %}
        <div class="alert alert-danger" role="alert"><span class="fas fa-exclamation-circle" aria-hidden="true"></span> An error occured !</div>
    {% else %}
        {% include 'tools/blast/result.html.twig' with {'result': result} %}
    {% endif %}
{% endblock %}
