{% extends 'base.html.twig' %}

{%block title %}
    Search in yeasts genomes
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Advanced search</li>
{% endblock %}

{% block body %}
    <h1>Search in yeasts genomes</h1>
    <p>
        The advanced search work exactly like the quick-search (the top right field on every pages), but permit you to
        select in which strains you want to do the search. Then the advanced search is usefull when you have too many
        results in the quick search.
    </p>

    <hr>

    <div class="mb-3">
        {{ form_start(form) }}
        {{ form_row(form.search) }}
        {{ form_row(form.strainsFilter.filter) }}
        {{ form_row(form.strainsFilter.strains) }}

        <button type="submit" class="btn btn-primary">
            <span class="fa fa-search" aria-hidden="true"></span> Search
        </button>

        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>

    {% include ":search:searchResults.html.twig" with { 'search': search } %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            strainsFilter($( "#advanced_search_strainsFilter_filter" ), $( "#advanced_search_strainsFilter_strains" ));
        });

        $(document).ready(function() {
            $(".search-result > p").each( function() {
                var html = $(this).html();
                html = html.replace(/({{ search }})/gi, '<b>$1</b>');
                $(this).html(html);
            });
        });
    </script>
{% endblock %}
