{% extends 'base.html.twig' %}

{%block title %}
    Search Results - {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Quick search</li>
{% endblock %}

{% block body %}
    <h1>Results for "<i>{{ search }}</i>"</h1>
    <p class="hidden-print">Too many results ? Try the <a href="{{ path('advanced-search', { 'q': search }) }}">Advanced Search</a></p>

    {% include ":search:searchResults.html.twig" with { 'search': search } %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $(".search-result > p").each( function() {
                var html = $(this).html();
                html = html.replace(/({{ search }})/gi, '<b>$1</b>');
                $(this).html(html);
            });
        });
    </script>
{% endblock %}
