{% if results is defined  %}
    {% if results is not empty %}
        <h3>Number of results: {{ results|length }}</h3>

        {% for result in results %}
            <div class="search-result">
                <h4>
                    <a href="{{ path('locus_view', { 'species_slug': result.chromosome.strain.species.slug, 'strain_slug': result.chromosome.strain.slug, 'chromosome_slug': result.chromosome.slug, 'locus_name': result.name }) }}">
                        {{ result.name }}
                    </a>
                </h4>
                <p>
                    {{ result.note }}<br/>
                    <a href="{{ path('cart_add', { 'id': result.id }) }}" class="btn btn-default btn-xs cart-add-btn">
                        <span class="fa fa-shopping-cart" aria-hidden="true"></span> Add to cart
                    </a>
                </p>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-info search-result" role="alert">There is no result</div>
    {% endif %}
{% endif %}
