{% if results is defined  %}
    {% if results is not empty %}
        {% for result in results %}
            <div class="search-result">
                <h4>
                    <a href="{{ path('locus_view', { 'species_slug': result.chromosome.strain.species.slug, 'strain_slug': result.chromosome.strain.slug, 'chromosome_slug': result.chromosome.slug, 'locus_name': result.name }) }}">
                        {{ result.name }} ({{ result.chromosome.strain.species.scientificName }} - {{ result.chromosome.strain.name }})
                    </a>
                </h4>
                <p>
                    {{ result.note }}<br/>

                    <a class="btn btn-light btn-sm cart-add-btn d-print-none" href="{{ path('cart_add', { 'id': result.id }) }}">
                        <span class="fa fa-shopping-cart" aria-hidden="true"></span> Add to cart
                    </a>
                </p>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-info search-result" role="alert">There is no result</div>
    {% endif %}
{% endif %}
