{% if results is defined  %}
    {% if results is not empty %}
        <h3>Number of results: {{ results|length }}</h3>

        {% for result in results %}
            <div class="search-result">
                {% if result is locus %}
                    <h4><a href="{{ path('locus_view', { 'species_slug': result.chromosome.strain.species.slug, 'strain_slug': result.chromosome.strain.slug, 'chromosome_slug': result.chromosome.slug, 'locus_name': result.name }) }}">{{ result.name }}</a> <a href="{{ path('cart_add', { 'id': result.id }) }}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-shopping-cart"></span> Add to cart</a></h4>
                    <p>
                        <span class="category">Locus</span><br />
                        {% if result.note is not empty %}
                            Note: {{ result.note }}
                        {% endif %}

                    </p>
                {% elseif result is feature %}
                    <h4><a href="{{ path('locus_view', { 'species_slug': result.locus.chromosome.strain.species.slug, 'strain_slug': result.locus.chromosome.strain.slug, 'chromosome_slug': result.locus.chromosome.slug, 'locus_name': result.name }) }}">{{ result.name }}</a> <a href="{{ path('cart_add', { 'id': result.locus.id }) }}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-shopping-cart"></span> Add to cart</a></h4>
                    <p>
                        <span class="category">Feature</span><br />
                        {% if result.note is not empty %}
                            Note: {{ result.note }}
                        {% endif %}

                    </p>
                {% elseif result is product %}
                    <h4><a href="{{ path('locus_view', { 'species_slug': result.feature.locus.chromosome.strain.species.slug, 'strain_slug': result.feature.locus.chromosome.strain.slug, 'chromosome_slug': result.feature.locus.chromosome.slug, 'locus_name': result.name }) }}">{{ result.name }}</a> <a href="{{ path('cart_add', { 'id': result.feature.locus.id }) }}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-shopping-cart"></span> Add to cart</a></h4>
                    <p>
                        <span class="category">Product</span><br />
                        {% if result.note is not empty %}
                            Note: {{ result.note }}
                        {% endif %}
                    </p>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-info search-result" role="alert">There is no result</div>
    {% endif %}
{% endif %}

