{# app/Ressources/views/admin/user/edit-rights.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
    Edit {{ user.username }}
{% endblock %}

{% block metaTags %}
    <meta name="robots" content="noindex">
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('admin_index') }}">Administration</a></li>
    <li><a href="{{ path('user_list') }}">User management</a></li>
    <li class="active">{{ user.username }} rights</li>
{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading"><h2>{{ user.username }} <small>{{ user.firstName }} {{ user.lastName }}</small></h2></div>
        <div class="panel-body">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
